@use '../core/colors';

.dark-theme {
    .mdl-button {
        color: colors.$white-dark;
    }

    .mdl-button--primary {
        color: colors.$primary-bright;
    }

    .mdl-button--accent {
        color: colors.$accent-bright;
    }
}
