@use '../core/variables';

.mdl-checkbox {
    height: auto;

    .mdl-checkbox__box-outline {
        border-color: variables.$checkbox-default-light;
    }

    input[required] ~ .mdl-checkbox__box-outline {
        border-color: variables.$error-default-light;
    }

    &.is-checked {
        .mdl-checkbox__box-outline {
            border-color: variables.$primary-default-light;
        }

        .mdl-checkbox__tick-outline {
            background-color: variables.$primary-default-light;
        }

        input[required] ~ .mdl-checkbox__box-outline {
            border-color: variables.$primary-default-light;
        }
    }

    &.is-disabled {
        .mdl-checkbox__box-outline {
            border-color: variables.$checkbox-disabled-light;
        }

        input[required] ~ .mdl-checkbox__box-outline {
            border-color: variables.$error-disabled-light;
            border-style: dotted;
        }

        &.is-checked {
            .mdl-checkbox__box-outline {
                border-color: variables.$primary-disabled-light;
            }

            .mdl-checkbox__tick-outline {
                background-color: variables.$primary-disabled-light;
            }
        }
    }
}
