@use '../core/variables';

.dark-theme {
    .mdl-icon-toggle {
        .mdl-icon-toggle__label {
            color: variables.$checkbox-default-dark;
        }

        input[required] ~ .mdl-icon-toggle__label {
            border-color: variables.$error-default-dark;
        }

        &.is-checked {
            input[required] ~ .mdl-icon-toggle__label {
                border-color: transparent;
            }

            .mdl-icon-toggle__label {
                color: variables.$primary-default-dark;
            }
        }

        &.is-disabled {
            input[required] ~ .mdl-icon-toggle__label {
                border-style: dotted;
                border-color: variables.$error-disabled-dark;
            }

            .mdl-icon-toggle__label {
                color: variables.$checkbox-disabled-dark;
            }

            &.is-checked {
                .mdl-icon-toggle__label {
                    color: variables.$primary-disabled-dark;
                }
            }
        }
    }
}
