@use '../core/variables';

.dark-theme {
    .mdl-textfield__label {
        color: variables.$label-default-dark;

        &::after {
            background-color: variables.$primary-default-dark;
        }
    }

    .mdl-icon__label,
    .mdl-switch__label,
    .mdl-checkbox__label,
    .mdl-radio__label {
        color: variables.$label-default-dark;
    }

    .mdl-textfield {
        &.is-invalid,
        &.is-dirty,
        &.is-focused,
        &.has-placeholder {
            .mdl-textfield__label {
                color: variables.$label-default-dark;
            }
        }

        &.is-disabled {
            .mdl-textfield__label {
                color: variables.$label-disabled-dark !important;
            }
        }

        &.is-invalid {
            .mdl-textfield__label {
                &::after {
                    background-color: variables.$error-default-dark;
                }
            }
        }
    }

    label {
        &.is-disabled {
            .mdl-icon__label,
            .mdl-switch__label,
            .mdl-checkbox__label,
            .mdl-radio__label {
                color: variables.$label-disabled-dark !important;
            }
        }
    }
}
