@use '../core/variables';

.mdl-radio {
    .mdl-radio__outer-circle {
        border-color: variables.$checkbox-default-light;
    }

    input[required] ~ .mdl-radio__outer-circle {
        border-color: variables.$error-default-light;
    }

    &.is-other-checked {
        input[required] ~ .mdl-radio__outer-circle {
            border-color: variables.$checkbox-default-light;
        }
    }

    &.is-checked {
        .mdl-radio__outer-circle {
            border-color: variables.$primary-default-light;
        }

        .mdl-radio__inner-circle {
            background-color: variables.$primary-default-light;
        }

        input[required] ~ .mdl-radio__outer-circle {
            border-color: variables.$primary-default-light;
        }
    }

    &.is-disabled {
        .mdl-radio__outer-circle {
            border-color: variables.$checkbox-disabled-light;
        }

        input[required] ~ .mdl-radio__outer-circle {
            border-style: dotted;
            border-color: variables.$error-disabled-light;
        }

        &.is-checked {
            .mdl-radio__outer-circle {
                border-color: variables.$primary-disabled-light;
            }

            .mdl-radio__inner-circle {
                background-color: variables.$primary-disabled-light;
            }
        }
    }
}
