.dark-theme {
    .mdl-switch {
        .mdl-switch__track {
            background-color: $black-bright;
        }

        .mdl-switch__thumb {
            background-color: $checkbox-default-dark;
        }

        input[required] ~ .mdl-switch__thumb {
            border-color: $error-default-dark;
        }

        &.is-checked {
            .mdl-switch__track {
                background-color: $primary-bright;
            }

            .mdl-switch__thumb {
                background-color: $primary-dark;
            }

            input[required] ~ .mdl-switch__thumb {
                border-color: transparent;
            }
        }

        &.is-disabled {
            .mdl-switch__track {
                background-color: $black-bright;
            }

            .mdl-switch__thumb {
                background-color: $checkbox-disabled-dark;
            }

            input[required] ~ .mdl-switch__thumb {
                border-color: $error-disabled-dark;
            }

            &.is-checked {
                .mdl-switch__track {
                    background-color: $primary;
                }

                .mdl-switch__thumb {
                    background-color: $checkbox-disabled-dark;
                }
            }
        }
    }
}
