@use '../core/colors';
@use '../core/variables';

.mdl-switch {
    height: auto;

    .mdl-switch__track {
        background-color: colors.$light-grey-bright;
    }

    .mdl-switch__thumb {
        background-color: variables.$checkbox-default-light;
    }

    input[required] ~ .mdl-switch__thumb {
        border: 2px solid variables.$error-default-light;
    }

    &.is-checked {
        .mdl-switch__track {
            background-color: colors.$primary-dark;
        }

        .mdl-switch__thumb {
            background-color: colors.$primary-bright;
        }

        input[required] ~ .mdl-switch__thumb {
            border-color: transparent;
        }
    }

    &.is-disabled {
        .mdl-switch__track {
            background-color: colors.$light-grey-bright;
        }

        .mdl-switch__thumb {
            background-color: variables.$checkbox-disabled-light;
        }

        input[required] ~ .mdl-switch__thumb {
            border-style: dotted;
            border-color: variables.$error-disabled-light;
        }

        &.is-checked {
            .mdl-switch__track {
                background-color: colors.$primary;
            }

            .mdl-switch__thumb {
                background-color: variables.$checkbox-disabled-light;
            }
        }
    }
}
