@use '../core/colors';
@use '../core/variables';

.dark-theme {
    .mdl-switch {
        .mdl-switch__track {
            background-color: colors.$black-bright;
        }

        .mdl-switch__thumb {
            background-color: variables.$checkbox-default-dark;
        }

        input[required] ~ .mdl-switch__thumb {
            border-color: variables.$error-default-dark;
        }

        &.is-checked {
            .mdl-switch__track {
                background-color: colors.$primary-bright;
            }

            .mdl-switch__thumb {
                background-color: colors.$primary-dark;
            }

            input[required] ~ .mdl-switch__thumb {
                border-color: transparent;
            }
        }

        &.is-disabled {
            .mdl-switch__track {
                background-color: colors.$black-bright;
            }

            .mdl-switch__thumb {
                background-color: variables.$checkbox-disabled-dark;
            }

            input[required] ~ .mdl-switch__thumb {
                border-color: variables.$error-disabled-dark;
            }

            &.is-checked {
                .mdl-switch__track {
                    background-color: colors.$primary;
                }

                .mdl-switch__thumb {
                    background-color: variables.$checkbox-disabled-dark;
                }
            }
        }
    }
}
