@use '../core/variables';

.dark-theme {
    .mdl-textfield {
        .mdl-textfield__input {
            color: variables.$content-default-dark;
            border: 1px solid variables.$input-default-dark;
        }

        &.is-invalid {
            .mdl-textfield__input {
                border-color: variables.$error-default-dark;
            }
        }

        &.is-disabled {
            .mdl-textfield__input {
                color: variables.$content-disabled-dark;
                border-style: dotted;
                border-color: variables.$input-disabled-dark;
            }

            &.is-invalid {
                .mdl-textfield__input {
                    border-color: variables.$error-disabled-dark;
                }
            }
        }
    }
}
