@use '../core/variables';

.mdl-textfield {
    width: 100%;
    font-size: inherit;

    .mdl-textfield__input {
        font-size: inherit;
        padding: 8px 10px 4px;
        border: 1px solid variables.$input-default-light;
        border-radius: 3px;
        color: variables.$content-default-light;
    }

    &.is-invalid {
        .mdl-textfield__input {
            border-color: variables.$error-default-light;
        }
    }

    &.is-disabled {
        .mdl-textfield__input {
            color: variables.$content-disabled-light;
            border-style: dotted;
            border-color: variables.$input-disabled-light;
        }

        &.is-invalid {
            .mdl-textfield__input {
                border-color: variables.$error-disabled-light;
            }
        }
    }
}
