@use '../core/variables';

.mdl-typography--display-4,
.mdl-typography--display-4-color-contrast,
.mdl-typography--display-3,
.mdl-typography--display-3-color-contrast,
.mdl-typography--display-2,
.mdl-typography--display-2-color-contrast,
.mdl-typography--display-1,
.mdl-typography--display-1-color-contrast {
    font-family: variables.$font-family-body;
}

.mdl-typography--headline,
.mdl-typography--headline-color-contrast {
    font-family: variables.$font-family-body;
}

.mdl-typography--title,
.mdl-typography--title-color-contrast {
    font-family: variables.$font-family-body;
}

.mdl-typography--subhead,
.mdl-typography--subhead-color-contrast {
    font-family: variables.$font-family-body;
}
