@mixin display-flex($important: null) {
  display: -ms-flexbox $important;
  // TWEENER - IE 10
  display: -webkit-box $important;
  // OLD - iOS 6-, Safari 3.1-6, BB7
  display: -webkit-flex $important;
  // NEW - Safari 6.1+. iOS 7.1+, BB10
  display: flex $important;
}

@mixin flex($flex...) {
  -ms-flex: $flex;
  // IE 10
  -webkit-box-flex: $flex;
  // OLD - iOS 6-, Safari 3.1-6
  -webkit-flex: $flex;
  // Safari 6.1+. iOS 7.1+, BB10
  flex: $flex;
}
