@use '../core/variables';

.dark-theme {
    .sui-checkbox {
        .sui-checkbox__label::before {
            border-color: variables.$checkbox-default-dark;
        }

        .sui-checkbox__input[required] + .sui-checkbox__label::before {
            border-color: variables.$error-default-dark;
        }

        .sui-checkbox__input:checked + .sui-checkbox__label::before {
            background-color: variables.$primary-default-dark;
            border-color: variables.$primary-default-dark;
        }

        .sui-checkbox__input[required]:checked + .sui-checkbox__label::before {
            border-color: variables.$primary-default-dark;
        }

        &.is-disabled {
            .sui-checkbox__label {
                color: variables.$label-disabled-dark;
            }

            .sui-checkbox__label::before {
                border-color: variables.$checkbox-disabled-dark;
            }

            .sui-checkbox__input[required] + .sui-checkbox__label::before {
                border-color: variables.$error-disabled-dark;
            }

            .sui-checkbox__input:checked + .sui-checkbox__label::before {
                background-color: variables.$primary-disabled-dark;
                border-color: variables.$primary-disabled-dark;
            }
        }
    }
}
