@use '../core/variables';

.sui-textfield__error {
    display: block;
    color: variables.$error-default-light;
    font-size: 0.8em;
}

.is-disabled {
    .sui-textfield__error {
        color: variables.$error-disabled-light;
    }
}

.is-invalid {
    .sui-textfield__error {
        visibility: visible;
    }
}
