@use '../core/variables';

.dark-theme {
    .sui-icon-toggle {
        .sui-icon-toggle__label {
            color: variables.$checkbox-default-dark;
        }

        .sui-icon-toggle__input[required] + .sui-icon-toggle__label {
            border-color: variables.$error-default-dark;
        }

        .sui-icon-toggle__input:checked ~ .sui-icon-toggle__label {
            color: variables.$primary-default-dark;
        }

        .sui-icon-toggle__input[required]:checked + .sui-icon-toggle__label {
            border-color: transparent;
        }

        &.is-disabled {
            .sui-icon__label {
                color: variables.$label-disabled-dark;
            }

            .sui-icon-toggle__label {
                color: variables.$checkbox-disabled-dark;
            }

            .sui-icon-toggle__input[required] + .sui-icon-toggle__label {
                border-style: dotted;
                border-color: variables.$error-disabled-dark;
            }

            .sui-icon-toggle__input:checked ~ .sui-icon-toggle__label {
                color: variables.$primary-disabled-dark;
            }
        }
    }
}
