.sui-textfield__label {
    position: absolute;
    top: 0;
    margin-inline-end: 10px;
    color: var(--sui-label);
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sui-textfield {
    &.is-disabled {
        .sui-textfield__label {
            color: var(--sui-label-disabled);
        }
    }
}
