.material-icons {
    font-size: 24px;
    font-style: normal;
    vertical-align: middle;

    &.size-18 {
        font-size: 18px;
        width: auto;
        height: auto;
    }

    &.size-40 {
        font-size: 40px;
        width: auto;
        height: auto;
    }

    &.size-48 {
        font-size: 48px;
        width: auto;
        height: auto;
    }
}
