@use '../core/variables';

.sui-radio {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    .sui-radio__button {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .sui-radio__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding-left: 28px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 18px;
            height: 18px;
            border: 2px solid variables.$checkbox-default-light;
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: variables.$primary-default-light;
            transform: translateY(-50%);
            opacity: 0;
        }
    }

    .sui-radio__button[required] + .sui-radio__label::before {
        border-color: variables.$error-default-light;
    }

    &.is-other-checked {
        .sui-radio__button[required] + .sui-radio__label::before {
            border-color: variables.$checkbox-default-light;
        }
    }

    .sui-radio__button:checked + .sui-radio__label::before {
        border-color: variables.$primary-default-light;
    }

    .sui-radio__button:checked + .sui-radio__label::after {
        opacity: 1;
    }

    .sui-radio__button[required]:checked + .sui-radio__label::before {
        border-color: variables.$primary-default-light;
    }

    .sui-radio__button:focus-visible + .sui-radio__label::before {
        box-shadow: 0 0 0 3px rgba(variables.$primary-default-light, 0.15);
    }

    &.is-disabled {
        cursor: default;

        .sui-radio__label {
            color: variables.$label-disabled-light;
        }

        .sui-radio__label::before {
            border-color: variables.$checkbox-disabled-light;
        }

        .sui-radio__button[required] + .sui-radio__label::before {
            border-style: dotted;
            border-color: variables.$error-disabled-light;
        }

        .sui-radio__button:checked + .sui-radio__label::before {
            border-color: variables.$primary-disabled-light;
        }

        .sui-radio__button:checked + .sui-radio__label::after {
            background-color: variables.$primary-disabled-light;
        }
    }
}
