@use '../core/variables';

.sui-sliderfield {
    .sui-slider {
        appearance: none;
        width: 100%;
        height: 6px;
        margin: 14px 0;
        background-color: var(--sui-input);
        border-radius: 3px;
        outline: none;
        cursor: pointer;

        &::-webkit-slider-thumb {
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: var(--sui-primary-action);
            box-shadow: variables.$shadow-sm;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            background: var(--sui-primary-action);
            box-shadow: variables.$shadow-sm;
            cursor: pointer;
        }
    }
}
