@use '../core/variables';

.sui-spinner {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 4px solid var(--sui-primary);
    border-top-color: var(--sui-accent);
    background-color: var(--sui-primary);
    box-shadow: var(--sui-shadow-md);
    opacity: 0;

    &.is-active {
        opacity: 1;
        animation: sui-spinner-rotate 0.8s linear infinite;
        will-change: transform;
    }
}

@keyframes sui-spinner-rotate {
    to {
        transform: rotate(360deg);
    }
}
