@use '../core/colors';
@use '../core/variables';

.dark-theme {
    .sui-switch {
        .sui-switch__label::before {
            background-color: colors.$black-bright;
        }

        .sui-switch__label::after {
            background-color: variables.$checkbox-default-dark;
        }

        .sui-switch__input[required] + .sui-switch__label::after {
            border-color: variables.$error-default-dark;
        }

        .sui-switch__input:checked + .sui-switch__label::before {
            background-color: colors.$primary-bright;
        }

        .sui-switch__input:checked + .sui-switch__label::after {
            background-color: colors.$primary-dark;
        }

        .sui-switch__input[required]:checked + .sui-switch__label::after {
            border-color: transparent;
        }

        &.is-disabled {
            .sui-switch__label {
                color: variables.$label-disabled-dark;
            }

            .sui-switch__label::before {
                background-color: colors.$black-bright;
            }

            .sui-switch__label::after {
                background-color: variables.$checkbox-disabled-dark;
            }

            .sui-switch__input[required] + .sui-switch__label::after {
                border-color: variables.$error-disabled-dark;
            }

            .sui-switch__input:checked + .sui-switch__label::before {
                background-color: colors.$primary;
            }

            .sui-switch__input:checked + .sui-switch__label::after {
                background-color: variables.$checkbox-disabled-dark;
            }
        }
    }
}
