@use '../core/variables';

.dark-theme {
    .sui-textfield {
        .sui-textfield__input {
            color: variables.$content-default-dark;
            border-color: variables.$input-default-dark;
        }

        &.is-focused {
            .sui-textfield__input {
                border-color: variables.$primary-default-dark;
            }
        }

        &.is-invalid {
            .sui-textfield__input {
                border-color: variables.$error-default-dark;
            }
        }

        &.is-disabled .sui-textfield__input,
        .sui-textfield__input:disabled {
            color: variables.$content-disabled-dark;
            border-style: dotted;
            border-color: variables.$input-disabled-dark;
        }

        &.is-disabled.is-invalid .sui-textfield__input,
        &.is-invalid .sui-textfield__input:disabled,
        .sui-textfield__input:disabled:required {
            border-color: variables.$error-disabled-dark;
        }
    }
}
