html,
body {
  &.dark-theme {
    color: $white;
  }
}

body {
  &.dark-theme {
    background-color: $black-dark;
  }
}

.dark-theme {
  a {
    color: $primary-bright;

    &:hover {
      color: $primary;
    }

    &.link {
      border-bottom-color: $primary-bright;

      &:hover {
        border-bottom-color: $primary;
      }
    }
  }

  .text-default {
    color: $white;
  }

  h3.caption {
    color: $primary-bright;
  }
}
