// Colors

// Black & White & Grey

$white-bright: #fff; // 0
$white: #fafafa; // 1
$white-dark: #f5f5f5; // 2

$light-grey-bright: #eee; // 3
$light-grey: #e0e0e0; // 4
$light-grey-dark: #bdbdbd; // 5

$deep-grey-bright: #9e9e9e; // 6
$deep-grey: #757575; // 7
$deep-grey-dark: #616161; // 8

$black-bright: #424242; // 9
$black: #212121; // 10
$black-dark: #000; // 11

// Material Design Palette

$grey-bright: #e0e0e0;
$grey: #9e9e9e;
$grey-dark: #616161;

$blue-grey-bright: #90a4ae;
$blue-grey: #607d8b;
$blue-grey-dark: #455a64;

$red-bright: #e57373;
$red: #f44336;
$red-dark: #d32f2f;

$pink-bright: #f06292;
$pink: #e91e63;
$pink-dark: #c2185b;

$purple-bright: #ba68c8;
$purple: #9c27b0;
$purple-dark: #7b1fa2;

$deep-purple-bright: #9575cd;
$deep-purple: #673ab7;
$deep-purple-dark: #512da8;

$indigo-bright: #7986cb;
$indigo: #3f51b5;
$indigo-dark: #303f9f;

$blue-bright: #64b5f6;
$blue: #2196f3;
$blue-dark: #1976d2;

$light-blue-bright: #4fc3f7;
$light-blue: #03a9f4;
$light-blue-dark: #0288d1;

$cyan-bright: #4dd0e1;
$cyan: #00bcd4;
$cyan-dark: #0097a7;

$teal-bright: #4db6ac;
$teal: #009688;
$teal-dark: #00796b;

$green-bright: #81c784;
$green: #4caf50;
$green-dark: #388e3c;

$light-green-bright: #aed581;
$light-green: #8bc34a;
$light-green-dark: #689f38;

$lime-bright: #dce775;
$lime: #cddc39;
$lime-dark: #afb42b;

$yellow-bright: #fff176;
$yellow: #ffeb3b;
$yellow-dark: #fbc02d;

$amber-bright: #ffd54f;
$amber: #ffc107;
$amber-dark: #ffa000;

$orange-bright: #ffb74d;
$orange: #ff9800;
$orange-dark: #f57c00;

$deep-orange-bright: #ff8a65;
$deep-orange: #ff5722;
$deep-orange-dark: #e64a19;

$brown-bright: #a1887f;
$brown: #795548;
$brown-dark: #5d4037;

// Theme

$primary-bright: $indigo-bright;
$primary: $indigo;
$primary-dark: $indigo-dark;
$primary-text: $white;

$accent-bright: $pink-bright;
$accent: $pink;
$accent-dark: $pink-dark;
$accent-text: $white;

// Notification defaults

$success-bright: $green-bright;
$success: $green;
$success-dark: $green-dark;
$success-text: $white;

$info-bright: $blue-bright;
$info: $blue;
$info-dark: $blue-dark;
$info-text: $white;

$warning-bright: $amber-bright;
$warning: $amber;
$warning-dark: $amber-dark;
$warning-text: $white;

$error-bright: $red-bright;
$error: $red;
$error-dark: $red-dark;
$error-text: $white;

// Form widget defaults

$label-default-light: $deep-grey;  // 7
$label-disabled-light: $light-grey-dark; // 5

$label-default-dark: $light-grey-dark; // 5
$label-disabled-dark: $deep-grey; // 7

$input-default-light: $light-grey-dark; // 5
$input-disabled-light: $light-grey; // 4

$input-default-dark: $deep-grey; // 7
$input-disabled-dark: $deep-grey-dark; // 8

$content-default-light: $black; // 10
$content-disabled-light: $deep-grey-bright; // 6

$content-default-dark: $white; // 1
$content-disabled-dark: $light-grey-dark; // 5

$checkbox-default-light: $deep-grey-bright; // 6
$checkbox-disabled-light: $light-grey; // 4

$checkbox-default-dark: $light-grey; // 4
$checkbox-disabled-dark: $deep-grey; // 7

$primary-default-light: $primary;
$primary-disabled-light: $light-grey-dark; // 5

$primary-default-dark:  $primary-bright;
$primary-disabled-dark: $deep-grey; // 7

$accent-default-light: $accent;
$accent-disabled-light: $light-grey-dark; // 5

$accent-default-dark: $accent-bright;
$accent-disabled-dark: $deep-grey; // 7

$error-default-light: $red;
$error-disabled-light: $red-dark;

$error-default-dark: $red-bright;
$error-disabled-dark: $red-dark;
