// Colors

// Black & White

$white-bright: #fff;
$white: #fefefe;
$white-dark: #f9f9f9;

$black-bright: #404040;
$black: #252525;
$black-dark: #000;

// Additional Palette

$light-grey-bright: #f0f0f0;
$light-grey: #e5e5e5;
$light-grey-dark: #d0d0d0;

$deep-grey-bright: darken($light-grey-bright, 71%);
$deep-grey: darken($light-grey, 71%);
$deep-grey-dark: darken($light-grey-dark, 71%);

// Material Design Palette

$grey-bright: #e0e0e0;
$grey: #9e9e9e;
$grey-dark: #616161;

$blue-grey-bright: #90a4ae;
$blue-grey: #607d8b;
$blue-grey-dark: #455a64;

$red-bright: #e57373;
$red: #f44336;
$red-dark: #d32f2f;

$pink-bright: #f06292;
$pink: #e91e63;
$pink-dark: #c2185b;

$purple-bright: #ba68c8;
$purple: #9c27b0;
$purple-dark: #7b1fa2;

$deep-purple-bright: #9575cd;
$deep-purple: #673ab7;
$deep-purple-dark: #512da8;

$indigo-bright: #7986cb;
$indigo: #3f51b5;
$indigo-dark: #303f9f;

$blue-bright: #64b5f6;
$blue: #2196f3;
$blue-dark: #1976d2;

$light-blue-bright: #4fc3f7;
$light-blue: #03a9f4;
$light-blue-dark: #0288d1;

$cyan-bright: #4dd0e1;
$cyan: #00bcd4;
$cyan-dark: #0097a7;

$teal-bright: #4db6ac;
$teal: #009688;
$teal-dark: #00796b;

$green-bright: #81c784;
$green: #4caf50;
$green-dark: #388e3c;

$light-green-bright: #aed581;
$light-green: #8bc34a;
$light-green-dark: #689f38;

$lime-bright: #dce775;
$lime: #cddc39;
$lime-dark: #afb42b;

$yellow-bright: #fff176;
$yellow: #ffeb3b;
$yellow-dark: #fbc02d;

$amber-bright: #ffd54f;
$amber: #ffc107;
$amber-dark: #ffa000;

$orange-bright: #ffb74d;
$orange: #ff9800;
$orange-dark: #f57c00;

$deep-orange-bright: #ff8a65;
$deep-orange: #ff5722;
$deep-orange-dark: #e64a19;

$brown-bright: #a1887f;
$brown: #795548;
$brown-dark: #5d4037;

// Theme

$primary-bright: $indigo-bright;
$primary: $indigo;
$primary-dark: $indigo-dark;
$primary-text: $white;

$accent-bright: $pink-bright;
$accent: $pink;
$accent-dark: $pink-dark;
$accent-text: $white;

// Form widget defaults

$label-default-light: $black;
$label-disabled-light: $light-grey-dark;

$label-default-dark: $white;
$label-disabled-dark: $deep-grey-bright;

$input-default-light: $grey-bright;
$input-disabled-light: $light-grey-dark;

$input-default-dark: $black-bright;
$input-disabled-dark: $deep-grey-bright;

$content-default-light: $black;
$content-disabled-light: $black-bright;

$content-default-dark: $white;
$content-disabled-dark: $white-dark;

$primary-default-light: $primary;
$primary-disabled-light: $primary-dark;

$primary-default-dark:  $primary-bright;
$primary-disabled-dark: $primary-dark;

$accent-default-light: $accent;
$accent-disabled-light: $accent-dark;

$accent-default-dark: $accent-bright;
$accent-disabled-dark: $accent-dark;

$error-default-light: $red;
$error-disabled-light: $red-dark;

$error-default-dark: $red-bright;
$error-disabled-dark: $red-dark;

// Widget color test

$label-default-light: $green;
$label-disabled-light: $green-bright;

$label-default-dark: $purple;
$label-disabled-dark: $purple-bright;

$input-default-light: $cyan;
$input-disabled-light: $cyan-dark;

$input-default-dark: $teal;
$input-disabled-dark: $teal-bright;

$content-default-light: $light-blue;
$content-disabled-light: $light-blue-bright;

$content-default-dark: $light-green;
$content-disabled-dark: $light-green-dark;

$primary-default-light: $brown; 
$primary-disabled-light: $brown-dark; 

$primary-default-dark:  $brown-bright; 
$primary-disabled-dark: $brown-dark; 

$accent-default-light: $lime; 
$accent-disabled-light: $lime-dark; 

$accent-default-dark: $lime-bright; 
$accent-disabled-dark: $lime-dark;

$error-default-light: $orange; 
$error-disabled-light: $orange-dark; 

$error-default-dark: $amber; 
$error-disabled-dark: $amber-bright; 
