// Colors

// Black & White

$white-bright: #FFFFFF;
$white: #FEFEFE;
$white-dark: #F9F9F9;

$black-bright: #404040;
$black: #252525;
$black-dark: #000000;

// Additional Palette

$light-grey-bright: #F0F0F0;
$light-grey: #E5E5E5;
$light-grey-dark: #D0D0D0;

// Material Design Palette

$red-bright: #e57373;
$red: #F44336;
$red-dark: #d32f2f;

$pink-bright: #F06292;
$pink: #E91E63;
$pink-dark: #C2185B;

$purple-bright: #BA68C8;
$purple: #9C27B0;
$purple-dark: #7B1FA2;

$deep-purple-bright: #9575CD;
$deep-purple: #673AB7;
$deep-purple-dark: #512DA8;

$indigo-bright: #7986CB;
$indigo: #3F51B5;
$indigo-dark: #303F9F;

$blue-bright: #64B5F6;
$blue: #2196F3;
$blue-dark: #1976D2;

$light-blue-bright: #4FC3F7;
$light-blue: #03A9F4;
$light-blue-dark: #0288D1;

$cyan-bright: #4DD0E1;
$cyan: #00BCD4;
$cyan-dark: #0097A7;

$teal-bright: #4DB6AC;
$teal: #009688;
$teal-dark: #00796B;

$green-bright: #81C784;
$green: #4CAF50;
$green-dark: #388E3C;

$light-green-bright: #AED581;
$light-green: #8BC34A;
$light-green-dark: #689F38;

$lime-bright: #DCE775;
$lime: #CDDC39;
$lime-dark: #AFB42B;

$yellow-bright: #FFF176;
$yellow: #FFEB3B;
$yellow-dark: #FBC02D;

$amber-bright: #FFD54F;
$amber: #FFC107;
$amber-dark: #FFA000;

$orange-bright: #FFB74D;
$orange: #FF9800;
$orange-dark: #F57C00;

$deep-orange-bright: #FF8A65;
$deep-orange: #FF5722;
$deep-orange-dark: #E64A19;

$brown-bright: #A1887F;
$brown: #795548;
$brown-dark: #5D4037;

$grey-bright: #E0E0E0;
$grey: #9E9E9E;
$grey-dark: #616161;

$blue-grey-bright: #90A4AE;
$blue-grey: #607D8B;
$blue-grey-dark: #455A64;

// Theme

$primary-bright: $indigo-bright;
$primary: $indigo;
$primary-dark: $indigo-dark;

$accent-bright: $red-bright;
$accent: $red;
$accent-dark: $red-dark;
