@use '../core/colors';
@use '../core/variables';

#confirm {
    z-index: variables.$zindex-confirm;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(colors.$black, 0.7);
    justify-content: center;
    overflow-y: auto;

    &.center {
        align-items: center;

        #confirm-window {
            position: relative;
        }
    }

    #confirm-window {
        position: absolute;
        background-color: colors.$white;
        color: colors.$black;
        box-shadow: 8px 8px 100px 0 rgba(colors.$black, 0.75);
        min-width: 360px;
        max-width: 720px;
        border-radius: 3px;

        .modal-header {
            padding: 0 10px 0 20px;
            display: flex;
            flex-flow: row nowrap;

            .modal-title {
                flex: 0 1 90%;
                text-transform: uppercase;
            }

            .navigation {
                flex: 0 1 10%;
                align-self: flex-start;
                margin-top: 0.5em;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
            }
        }

        .modal-body {
            padding: 20px;
            display: flex;
            align-items: center;

            &::before {
                font-family: variables.$font-family-icons;
                vertical-align: middle;
                padding-right: 0.5em;
                font-size: 2em;
            }
        }

        &.error {
            border-top: 3px solid variables.$error;

            .modal-body {
                &::before {
                    content: '\E99A';
                    color: variables.$error;
                }
            }
        }

        &.warning {
            border-top: 3px solid variables.$warning;

            .modal-body {
                &::before {
                    content: '\E000';
                    color: variables.$warning;
                }
            }
        }

        &.info {
            border-top: 3px solid variables.$info;

            .modal-body {
                &::before {
                    content: '\E88E';
                    color: variables.$info;
                }
            }
        }

        &.success {
            border-top: 3px solid variables.$success;

            .modal-body {
                &::before {
                    content: '\E876';
                    color: variables.$success;
                }
            }
        }

        &.choice {
            border-top: 3px solid colors.$accent;
        }

        .modal-footer {
            margin: 0 20px 20px 0;
            text-align: right;

            button {
                margin-left: 5px;
            }
        }
    }
}
