@use '../core/colors';
@use '../core/variables';

.dark-theme {
    .flash-container {
        #flashes {
            .flash {
                box-shadow: 5px 5px 15px -5px rgba(colors.$black-dark, 0.8);
                background-color: colors.$black;

                &.success {
                    border-color: variables.$success-bright;
                }

                &.info {
                    border-color: variables.$info-bright;
                }

                &.warning {
                    border-color: variables.$warning-bright;
                }

                &.error {
                    border-color: variables.$error-bright;
                }
            }
        }
    }
}
