@use '../core/colors';
@use '../core/variables';
@use '../mixins/breakpoints';

#footer {
    position: absolute;
    min-height: 3em;
    width: 100%;
    padding: 0 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$black-bright;
    z-index: variables.$zindex-footer;

    @include breakpoints.media-breakpoint-down(sm) {
        padding-top: 1em;
        padding-bottom: 1em;
        flex-flow: column nowrap;
    }

    .content,
    .locales {
        color: colors.$white;

        a {
            color: colors.$accent;

            &:hover,
            &.active {
                color: colors.$accent-dark;
            }
        }
    }

    .content {
        flex: 1;
    }

    .locales {
        flex: 0 1 auto;
        display: flex;
        justify-content: center;

        a {
            padding: 0 0.5em;

            .image {
                margin-right: 0.5em;
                line-height: 0;

                @include breakpoints.media-breakpoint-down(md) {
                    display: none;
                }

                @include breakpoints.media-breakpoint-up(lg) {
                    margin-right: 0;
                }

                img {
                    height: 25px;
                    width: 25px;
                    filter: grayscale(100%);
                }
            }

            .title {
                @include breakpoints.media-breakpoint-up(lg) {
                    display: none;
                }
            }

            &.active {
                .image {
                    img {
                        filter: none;
                    }
                }
            }
        }
    }

    #open-bottom-menu,
    #close-bottom-menu {
        display: none;
        color: colors.$accent;
    }

    #bottom-menu {
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        @include breakpoints.media-breakpoint-down(sm) {
            padding-top: 1em;
        }

        @include breakpoints.media-breakpoint-down(xs) {
            flex-flow: column nowrap;
        }

        a {
            display: flex;
            align-items: center;
            margin-left: 2em;
            text-decoration: none;
            color: colors.$accent;
            line-height: 1.1;

            @include breakpoints.media-breakpoint-down(xs) {
                margin-left: 0;
                margin-top: 0.5em;
            }

            .image {
                margin-right: 0.5em;
                line-height: 0;
                display: block;
                box-shadow: 0 0 5px rgba(colors.$black, 0.75);
                border-radius: 50%;

                @include breakpoints.media-breakpoint-down(lg) {
                    display: none;
                }

                em {
                    font-size: 32px;
                }
            }

            &:hover,
            &.active {
                color: colors.$accent-dark;
            }
        }
    }

    &.static {
        position: fixed;
        bottom: 0;
        background-color: transparent;

        .content,
        .locales {
            color: colors.$white;

            a {
                color: colors.$accent;

                &:hover,
                &.active {
                    color: colors.$accent-dark;
                }
            }
        }

        &.open {
            z-index: variables.$zindex-footer-static;

            @include breakpoints.media-breakpoint-down(sm) {
                box-shadow: 0 2px 20px 0 rgba(colors.$black, 0.75);
            }

            @include breakpoints.media-breakpoint-down(sm) {
                background-color: colors.$black;
                padding-bottom: 1em;
                flex-flow: column nowrap;
            }

            .content,
            .locales {
                color: colors.$white;

                a {
                    color: colors.$accent;

                    &:hover,
                    &.active {
                        color: colors.$accent-dark;
                    }
                }
            }

            #open-bottom-menu {
                display: none;
            }

            #close-bottom-menu {
                @include breakpoints.media-breakpoint-down(sm) {
                    display: inline-block;
                    color: colors.$accent;
                }
            }

            #bottom-menu {
                a {
                    color: colors.$accent;

                    &:hover,
                    &.active {
                        color: colors.$accent-dark;
                    }
                }
            }
        }

        &.dark {
            .content,
            .locales {
                color: colors.$black;

                a {
                    color: colors.$primary;

                    &:hover,
                    &.active {
                        color: colors.$primary-dark;
                    }
                }
            }

            #open-bottom-menu,
            #close-bottom-menu {
                color: colors.$primary;
            }

            #bottom-menu {
                a {
                    color: colors.$primary;

                    &:hover,
                    &.active {
                        color: colors.$primary-dark;
                    }
                }
            }
        }

        &.open.dark {
            @include breakpoints.media-breakpoint-down(sm) {
                background-color: colors.$light-grey;
            }
        }

        @include breakpoints.media-breakpoint-down(sm) {
            padding: 0 2em;
            flex-flow: row nowrap;
        }

        #open-bottom-menu {
            @include breakpoints.media-breakpoint-down(sm) {
                display: inline-block;
            }
        }

        #close-bottom-menu {
            @include breakpoints.media-breakpoint-down(sm) {
                display: none;
            }
        }

        #bottom-menu {
            @include breakpoints.media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}
