@use '../core/colors';
@use '../mixins/breakpoints';

.dark-theme {
    #footer {
        background-color: colors.$black;

        &.static {
            background-color: transparent;

            &.dark {
                .content,
                .locales {
                    color: colors.$white;

                    a {
                        color: colors.$primary-bright;

                        &:hover,
                        &.active {
                            color: colors.$primary;
                        }
                    }
                }

                #open-bottom-menu,
                #close-bottom-menu {
                    color: colors.$primary-bright;
                }

                #bottom-menu {
                    a {
                        color: colors.$primary-bright;

                        &:hover,
                        &.active {
                            color: colors.$primary;
                        }
                    }
                }
            }

            &.open.dark {
                @include breakpoints.media-breakpoint-down(sm) {
                    background-color: colors.$deep-grey;
                }
            }
        }
    }
}
