@use '../core/colors';
@use '../core/variables';
@use '../mixins/breakpoints';

#header {
    background-color: colors.$primary-dark;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: variables.$zindex-header;
    color: colors.$white;

    &.shadow {
        box-shadow: 0 2px 20px 0 rgba(colors.$black, 0.75);
    }

    &.open {
        z-index: variables.$zindex-header-open;
    }

    .menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 50px;

        @include breakpoints.media-breakpoint-down(md) {
            flex: 1 100%;
        }

        a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            text-decoration: none;
            color: colors.$light-grey;
            font-size: 1.5rem;

            &:hover {
                text-decoration: none;
            }

            &.brand {
                margin-left: 0.5em;
            }

            img {
                height: 40px;
            }

            .app-title {
                padding-left: 10px;
                font-size: 1rem;
            }
        }

        #open-left-menu {
            margin-left: 0.5em;
            color: colors.$light-grey;
        }

        #toggle-top-menu {
            color: colors.$light-grey;

            @include breakpoints.media-breakpoint-up(lg) {
                display: none;
            }

            &.active {
                color: colors.$accent;
            }
        }
    }
}
