.dark-theme {
    #left-menu {
        &.black-backdrop {
            background-color: rgba($black, 0.7);
        }

        .main-menu,
        .sub-menu {
            background-color: $black-dark;
            box-shadow: 2px 0 20px 0 rgba($black-dark, 0.8);

            a {
                color: $white;
            }

            .menu-container {
                a {
                    color: $primary-bright;

                    &:hover {
                        background-color: $black-bright;
                    }

                    &.active {
                        background-color: $black;
                        border-right-color: $accent;
                    }

                    &.disabled {
                        background-color: $black-dark;
                        color: $black-bright;

                        .image {
                            img {
                                opacity: 0.3;
                            }

                            svg,
                            path {
                                fill: $black-bright;
                            }
                        }
                    }

                    .image {
                        svg,
                        path {
                            fill: $primary-bright;
                        }
                    }
                }
            }
        }
    }
}
