@use '../core/colors';
@use '../core/variables';
@use '../mixins/breakpoints';

.nav-bar-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: variables.$zindex-nav-bar;
    min-height: 50px;

    #toggle-nav-bar {
        position: absolute;
        right: 10px;
        top: 3px;
        color: colors.$accent;

        &:hover {
            color: colors.$accent-dark;
        }

        @include breakpoints.media-breakpoint-up(md) {
            display: none;
        }
    }

    #nav-bar {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        min-height: 50px;

        &.open {
            display: flex;
            background-color: colors.$primary-dark;
            opacity: 0.9;
            box-shadow: 0 2px 20px 0 rgba(colors.$black, 0.75);
            border-bottom: 0;

            @include breakpoints.media-breakpoint-up(md) {
                border-bottom: 1px solid rgba(colors.$light-grey, 0.5);
                box-shadow: none;
                opacity: 1;
                background-color: transparent;
            }

            & + #toggle-nav-bar {
                color: colors.$white;

                &:hover {
                    color: colors.$white-dark;
                }
            }
        }

        &.shadow {
            background-color: colors.$primary-dark;
            opacity: 0.9;
            box-shadow: 0 2px 20px 0 rgba(colors.$black, 0.75);
            border-bottom: 0;
            backdrop-filter: blur(4px);
        }

        @include breakpoints.media-breakpoint-up(sm) {
            border-bottom: 1px solid rgba(colors.$light-grey, 0.5);
        }

        @include breakpoints.media-breakpoint-down(sm) {
            flex-flow: column nowrap;
            display: none;
        }

        a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            text-decoration: none;
            padding: 0.5em 0.8em;
            color: colors.$white;
            text-transform: uppercase;
            font-size: 0.8em;

            @include breakpoints.media-breakpoint-down(sm) {
                justify-content: center;
                border-bottom: 1px solid colors.$primary-bright;
            }

            &:hover {
                color: colors.$white-dark;
            }

            &.active {
                color: colors.$white-dark;
                padding: 0.5em 0.8em 0.3em;
                border-bottom: 0.2em solid colors.$accent;
                background-color: colors.$primary-dark;
            }

            .image {
                line-height: 0;

                img,
                svg {
                    height: 36px;
                    width: 36px;
                }
            }

            .image + .title {
                margin-left: 0.5em;
            }

            &:last-child {
                @include breakpoints.media-breakpoint-down(sm) {
                    border-bottom: 0;
                }
            }
        }
    }
}
