.calendar {
  position: relative;
  box-sizing: content-box;
  width: 250px;
  height: 290px;
  background-color: $light-grey;

  .header {
    @include display-flex;
    align-items: center;
    height: 50px;
    background-color: $primary;
    color: $white;

    .previous {
      @include flex(0 1 32px);
    }

    .next {
      @include flex(0 1 32px);
    }

    .current-mode {
      display: inline-block;
      @include flex(1 1 auto);
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

  }

  .content {
    .week-days {
      background-color: $white;
      height: 30px;
      @include display-flex;
      flex-flow: row wrap;

      .day {
        font-weight: 700;
        @include flex(0 1 14.285%);
        @include display-flex;
        align-items: center;
        justify-content: center;
      }

    }

    .days {
      @include display-flex;
      flex-flow: row wrap;
      background-color: $white;
      height: 210px;

      .day {
        @include flex(0 1 14.285%);
        @include border-radius(50%);
        border: 1px solid transparent;
        cursor: pointer;
        @include display-flex;
        align-items: center;
        justify-content: center;

        &:hover {
          border: 1px solid $accent;
        }

        &.now {
          background-color: $light-grey;
        }

        &.previous-month {
          color: $light-grey-dark;

          &.now {
            color: $white;
          }

          &.current {
            color: $white;
          }
        }

        &.current-month {
          color: $black;
        }

        &.next-month {
          color: $light-grey-dark;

          &.now {
            color: $white;
          }

          &.current {
            color: $white;
          }
        }

        &.current {
          background-color: $accent;
          color: $accent-text;
        }
      }
    }

    .months {
      @include display-flex;
      flex-flow: row wrap;
      background-color: $white;
      height: 240px;

      .month {
        @include flex(0 1 25%);
        @include display-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid $accent;
        }

        &.now {
          background-color: $light-grey;
        }

        &.current {
          background-color: $accent;
          color: $accent-text;
        }
      }

    }

    .years {
      @include display-flex;
      flex-flow: row wrap;
      background-color: $white;
      height: 240px;

      .year {
        @include flex(0 1 25%);
        @include display-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid $accent;
        }

        &.now {
          background-color: $light-grey;
        }

        &.current {
          background-color: $accent;
          color: $accent-text;
        }
      }
    }

  }

}
