.dark-theme {
  .card-collection {
    .card {
      background-color: $deep-grey-bright;
      border-color: $deep-grey-bright;
      @include box-shadow(0 2px 3px 0 rgba($black, .3));

      &:hover {
        @include box-shadow(0 4px 5px 0 rgba($black, .5));
        background-color: $deep-grey;
      }

      .title,
      .title-with-actions {
        color: $white;
        border-bottom-color: $grey-dark;
      }

      .header {
        background-color: $primary-bright;
        color: $white;

        .title {
          color: $white;
          background-color: rgba($black, .7);
          border-bottom-color: $accent-bright;
        }
      }

      .content {
        .info {
          color: $primary-bright;
        }
      }

      .footer {
        .caption {
          color: $grey;
        }
      }
    }
  }
}
