.card-collection {
  padding-bottom: 20px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
  }

  .card-footer {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
    justify-content: space-between;
  }

  .card {
    border-radius: 5px;
    background-color: $white-bright;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid $light-grey-bright;
    box-shadow: 0 0 5px 0 rgba($black, .2);

    &:hover {
      box-shadow: 0 0 5px 0 rgba($black, .3);
      background-color: $light-grey-bright;

      .title,
      .title-with-actions {
        border-bottom-color: $light-grey;
      }
    }

    .title,
    .title-with-actions {
      color: $black;
      border-bottom: 1px solid $light-grey-bright;
    }

    .header {
      padding: 7em 0 0;
      background-color: $primary;
      color: $white;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-size: cover;
      background-position: center;
      text-shadow: 1px 1px 2px rgba($black, .75);

      .title {
        color: $white;
        background-color: rgba($black, .7);
        border-bottom: 3px solid $accent;
      }
    }

    .title {
      padding: 0 .8em;
      margin-bottom: 0;
    }

    .title-with-actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      flex: 1 0 auto;

      .title {
        border-bottom: 0;
      }

      .actions {
        padding: 0 .8em;

        .mdl-button {
          border-radius: 50%;
        }
      }
    }

    .content {
      color: $black;

      &.section {
        margin: 1em 0 0 1em;

        .box {
          padding: 0 1em 1em 0;
        }
      }

      .info {
        .material-icons {
          color: $primary;
          display: inline-block;
          vertical-align: sub;
          padding-top: 3px;
          margin-right: 8px;
          font-size: inherit;
        }
      }

      .material-icons {
        vertical-align: sub;
      }

    }

    .footer {
      text-align: right;
      padding: .5em;
      min-height: calc(30px + 1em);
    }
  }
}
