.dark-theme {
  .card-collection {
    .card {
      background-color: $black-bright;
      border-color: $black;
      box-shadow: 0 0 5px 0 rgba($black, .2);

      &:hover {
        box-shadow: 0 0 5px 0 rgba($black, .3);
        background-color: $black;

        .title,
        .title-with-actions {
          border-bottom-color: $black-bright;
        }
      }

      .title,
      .title-with-actions {
        color: $white;
        border-bottom-color: $deep-grey-dark;
      }

      .header {
        background-color: $primary;
        color: $white;

        .title {
          color: $white;
          background-color: rgba($black, .7);
          border-bottom-color: $accent-bright;
        }
      }

      .content {
        color: $white;
        
        .info {
          .material-icons {
            color: $primary-bright;
          }
        }
      }

      .footer {
        .caption {
          color: $black-bright;
        }
      }
    }
  }
}
