.dark-theme {
  .card-collection {
    .card {
      background-color: $black-bright;
      border-color: $black-bright;
      box-shadow: 0 2px 3px 0 rgba($black, .3);

      &:hover {
        box-shadow: 0 4px 5px 0 rgba($black, .75);
        background-color: $black;
      }

      .title,
      .title-with-actions {
        color: $white;
        border-bottom-color: $black-dark;
      }

      .header {
        background-color: $primary-bright;
        color: $white;

        .title {
          color: $white;
          background-color: rgba($black, .7);
          border-bottom-color: $accent-bright;
        }
      }

      .content {
        .info {
          color: $primary-bright;
        }
      }

      .footer {
        .caption {
          color: $black-bright;
        }
      }
    }
  }
}
