.dark-theme {
  .clock {
    background-color: $deep-grey;

    .header {
      background-color: $primary-dark;
      color: $grey;

      .hours {
        &.active {
          color: $black;
        }
      }

      .minutes {
        &.active {
          color: $black;
        }
      }
    }
  }
}
