.dark-theme {
  .dialog-container {
    background-color: $black-dark;
    color: $white;
    box-shadow: 8px 8px 75px 0 rgba($black-dark, .8);

    .dialog-container-footer {
      background-color: $black-dark;
    }
  }
}
