.dark-theme {
  #footer {
    background-color: $black;

    &.static {
      background-color: transparent;

      &.dark {

        .content,
        .locales {
          color: $white;

          a {
            color: $primary-bright;

            &:hover,
            &.active {
              color: $primary;
            }
          }
        }

        #open-bottom-menu,
        #close-bottom-menu {
          color: $primary-bright;
        }

        #bottom-menu {
          a {
            color: $primary-bright;

            &:hover,
            &.active {
              color: $primary;
            }
          }

        }
      }

      &.open.dark {
        @include media-breakpoint-down(sm) {
          background-color: $deep-grey;
        }
      }
    }
  }
}
