.progress-status {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;

  &.success {
    color: $green;
  }

  &.info {
    color: $blue;
  }

  &.warning {
    color: $amber;
  }

  &.error {
    color: $red;
  }

  .material-icons {
    font-size: 10em;
  }
}
