.dark-theme {
  .tab-panel {
    .tabs {
      a {
        border-bottom-color: $black-bright;
        background-color: $black;
        color: $primary;

        &:hover {
          color: $primary-bright;
        }

        &.active {
          border-bottom-color: $accent-bright;
          // background-color: $black-dark;
          color: $primary-bright;
        }

        &:not(.active) {
          border-bottom-color: $black;
        }

        &.disabled {
          color: $light-grey;
        }
      }
    }
  }
}
