.table-responsive {
    margin-bottom: 15px;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    @include media-breakpoint-down(sm) {
        display: block;
    }
    thead {
        @include media-breakpoint-down(sm) {
            display: none;
        }
        tr {
            th {
                text-align: left;
                padding: 5px 10px;
                text-transform: uppercase;
                vertical-align: baseline;
                font-weight: 400;
                font-family: $font-family-heading;
                border-bottom: 1px solid $grey;
                &[data-column] {
                    font-weight: 700;
                    cursor: pointer;
                    white-space: nowrap;
                }
                &.actions {
                    text-align: right;
                }
                span {
                    vertical-align: middle;
                    display: inline-flex;
                    flex-flow: column wrap;
                    color: $grey;
                    width: 24px;
                    height: 24px;
                    .material-icons {
                        cursor: pointer;
                        display: none;
                        &.active {
                            display: inline-block;
                            color: $black-bright;
                        }
                    }
                }
            }
        }
    }
    tbody {
        @include media-breakpoint-down(sm) {
            display: block;
            border: 1px solid $light-grey;
            border-top: none;
        }
        tr {
            @include media-breakpoint-down(sm) {
                display: block;
            }
            border-top: 1px solid $light-grey;
            &:nth-child(4n+0) {
                background-color: $white-dark;
            }
            &.header {
                display: none;
                cursor: pointer;
                @include media-breakpoint-down(sm) {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                }
                &:hover {
                    background-color: $light-grey;
                }
                &.active {
                    background-color: $light-grey;
                    td:first-of-type {
                        &:before {
                            content: '\E316';
                        }
                    }
                }
                td:first-of-type {
                    text-transform: uppercase;
                    font-family: $font-family-heading;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    &:before {
                        font-family: 'Material Icons';
                        font-size: 1.5em;
                        vertical-align: middle;
                        padding-right: 5px;
                        content: '\E313';
                    }
                }
            }
            &.data {
                @include media-breakpoint-down(sm) {
                    display: none;
                    background-color: $white-dark;
                    &.open {
                        display: block;
                        td {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid $grey-bright;
                            span {
                                text-align: right;
                                &.label {
                                    text-align: right;
                                }
                            }
                            &.actions {
                                display: none;
                            }
                            span:not(.label){
                                font-weight: 700;
                            }
                        }
                    }
                }
                .label {
                    padding: 0 10px 0 0;
                    text-transform: uppercase;
                    vertical-align: baseline;
                    font-weight: 400;
                    font-family: $font-family-heading;
                    &[data-column] {
                        font-weight: 700;
                        cursor: pointer;
                        white-space: nowrap;
                    }
                    span {
                        vertical-align: middle;
                        display: inline-flex;
                        flex-flow: column wrap;
                        color: $grey;
                        width: 24px;
                        height: 24px;
                        .material-icons {
                            cursor: pointer;
                            display: none;
                            &.active {
                                display: inline-block;
                                color: $black-bright;
                            }
                        }
                    }
                }
            }
            td {
                padding: 5px 10px;
                &.actions {
                    text-align: right;
                    white-space: nowrap;
                }
                .img-wrapper {
                    width: 52px;
                    height: 52px;
                    padding: 2px;
                }
                .label {
                    display: none;
                    @include media-breakpoint-down(sm) {
                        display: inline-block;
                    }
                }
            }
        }
    }
    tfoot {
        @include media-breakpoint-down(sm) {
            display: block;
        }
        tr {
            td:not(.pager) {
                padding: 5px 10px;
            }
            td.pager-statistics {
                white-space: nowrap;
            }
            td.pager {
                text-align: right;
            }
        }
    }
}
