.tab-panel {
    @include display-flex();
    flex-flow: column nowrap;
    .tabs {
        @include display-flex();
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: stretch;
        a {
            @include flex(0 1 100%);
            @include display-flex();
            border-top: 2px solid $light-grey-dark;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $light-grey-bright;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            color: $primary;
            font-family: $font-family-heading;
            &:hover {
                color: $primary-dark;
            }
            &.active {
                border-top: 4px solid $accent;
                background-color: $white;
                color: $primary-dark;
                z-index: 1;
                @include box-shadow(1px -2px 3px 0 rgba($black, .2));
            }
            &.disabled {
                border-color: $grey;
                color: $grey-bright;
            }
        }
    }
    .panel {
        display: none;
        &.active {
            display: block;
            @include box-shadow(0 0 1px 0 rgba($black, .2));
        }
    }
}
