.dark-theme {
  .tab-panel {
    .tabs {
      a {
        border-top-color: $deep-grey-dark;
        background-color: $deep-grey-bright;
        color: $primary;

        &:hover {
          color: $primary-bright;
        }

        &.active {
          background-color: $black;
          color: $primary-bright;
        }

        &:not(.active) {
          border-top-color: $deep-grey-bright;
        }

        &.disabled {
          color: $grey-bright;
        }
      }
    }
  }
}
