.dark-theme {
  table {
    thead {
      tr {
        th {
          border-bottom-color: $deep-grey-bright;

          .icons {
            color: $deep-grey-bright;

            .material-icons {
              &.active {
                color: $white;
              }
            }
          }

          .info {
            color: $primary-bright;
          }
        }
      }
    }

    tbody {
      @include media-breakpoint-down(sm) {
        border-color: $deep-grey;
      }

      tr {
        border-top-color: $deep-grey;

        &:nth-child(4n+0) {
          background-color: $black;
        }

        &.header {
          &:hover {
            background-color: $deep-grey;
          }

          &.active {
            background-color: $deep-grey;
          }
        }

        &.data {
          @include media-breakpoint-down(sm) {
            background-color: $deep-grey-dark;

            &.open {
              td {
                border-bottom-color: $light-grey;
              }
            }
          }

          .label {
            span {
              color: $deep-grey-bright;

              .material-icons {
                &.active {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}
