.dark-theme {
  .time {
    background-color: $black;

    .center-point {
      background-color: $accent;
    }

    .pointer {
      background-color: $accent;
    }

    .circle {
      &.selected {
        background-color: $accent;
        color: $accent-text;
      }

      &:hover {
        border-color: $accent;
      }
    }
  }
}
