.checkbox-field {
    &.input-block {
        padding-top: 0;
    }

    .field-label {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--sui-label);
    }

    &.is-disabled {
        .field-label {
            color: var(--sui-label-disabled);
        }
    }
}
