@use '../core/variables';

.color-field {
    .preview {
        margin-right: 10px;
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid variables.$input-default-light;

        &:focus {
            outline: none;
        }
    }

    &.is-invalid {
        .preview {
            border-color: variables.$error-default-light;
        }
    }

    canvas {
        vertical-align: middle;
    }

    .field-label {
        color: variables.$label-default-light;
    }

    &.is-disabled {
        .field-label {
            color: variables.$label-disabled-light;
        }

        .preview {
            border-style: dotted;
            border-color: variables.$input-disabled-light;

            .color {
                opacity: 0.3;
            }
        }

        &.is-invalid {
            .preview {
                border-color: variables.$error-disabled-light;
            }
        }
    }
}
