@use '../core/variables';

.dark-theme {
    .color-field {
        .preview {
            border: 1px solid variables.$input-default-dark;
        }

        &.is-invalid {
            .preview {
                border-color: variables.$error-default-dark;
            }
        }

        .field-label {
            color: variables.$label-default-dark;
        }

        &.is-disabled {
            .field-label {
                color: variables.$label-disabled-dark;
            }

            .preview {
                border-style: dotted;
                border-color: variables.$input-disabled-dark;
            }

            &.is-invalid {
                .preview {
                    border-color: variables.$error-disabled-dark;
                }
            }
        }
    }
}
