@use '../core/variables';

.dark-theme {
    .color-field {
        .preview {
            border: 1px solid variables.$input-default-dark;
        }

        // input[required] ~ .preview {
        //   border-color: $error-default-dark;
        // }

        .field-label {
            color: variables.$label-default-dark;
        }

        &.is-disabled {
            .field-label {
                color: variables.$label-disabled-dark;
            }

            .preview {
                border-color: variables.$input-disabled-dark;
            }

            // input[required] ~ .preview {
            //   border-color: $error-disabled-dark;
            // }
        }
    }
}
