@use '../core/variables';

.datetime-range-field {
    .sui-textfield__error {
        &:last-of-type {
            width: 100%;
            text-align: end;
        }
    }

    .expander {
        vertical-align: middle;
        cursor: pointer;
        margin-inline-start: -30px;
        color: var(--sui-primary-action);
    }

    .field-label {
        margin-inline-end: 10px;
        font-size: 16px;
        position: absolute;
        top: -2px;
        color: var(--sui-label);
    }

    .datetime-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .datetime-input {
        flex: 1 0 50%;
        display: inline-block;
        padding: 3px 30px 0 3px;
        border: 1px solid var(--sui-input);
        border-radius: variables.$radius-md;
        min-height: 40px;
        cursor: pointer;

        &:nth-of-type(2n) {
            border-inline-start: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:nth-of-type(odd) {
            border-inline-end: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .datetime {
        display: flex;
        align-items: center;
    }

    &.is-invalid {
        .datetime-input {
            border-color: var(--sui-error-text);
        }
    }

    &.is-disabled {
        .field-label {
            color: var(--sui-label-disabled);
        }

        .expander {
            color: var(--sui-primary-action-disabled);
        }

        .datetime-input {
            border-style: dotted;
            border-color: var(--sui-input-disabled);
        }

        &.is-invalid {
            .datetime-input {
                border-color: var(--sui-error-text-disabled);
            }
        }
    }
}
