@use '../core/variables';

.dark-theme {
    .datetime-field {
        .expander {
            color: variables.$primary-default-dark;
        }

        .field-label {
            color: variables.$label-default-dark;
        }

        .datetime-input {
            border-color: variables.$input-default-dark;
        }

        &.is-disabled {
            .field-label {
                color: variables.$label-disabled-dark;
            }

            .expander {
                color: variables.$primary-disabled-dark;
            }

            .datetime-input {
                border-color: variables.$input-disabled-dark;
            }
        }
    }
}
