.file-field {
    input[type='file'] {
        &.sui-textfield__input {
            &::-webkit-file-upload-button {
                opacity: 0;
                width: 0;
                padding: 0;
                margin: 0;
                border: 0;
                color: var(--sui-content);
            }
        }
    }

    img {
        height: 100px;
        width: auto;
        margin-bottom: 5px;
    }

    .icon-button {
        color: var(--sui-primary-action);
    }

    &.file-field .action-container {
        top: 135px;
    }

    &.is-disabled {
        img {
            filter: grayscale(100%);
            opacity: 0.5;
        }

        .browse-button {
            color: var(--sui-primary-action-disabled);
        }

        .remove-button {
            color: var(--sui-primary-action-disabled);
        }
    }
}
