@use '../core/variables';

.dark-theme {
    .file-field {
        input[type='file'] {
            &.mdl-textfield__input {
                &::-webkit-file-upload-button {
                    color: variables.$content-default-dark;
                }
            }
        }

        &.is-disabled {
            img {
                opacity: 0.2;
            }

            .browse-button {
                color: variables.$primary-disabled-dark;
            }
        }
    }
}
