@use '../core/variables';

.dark-theme {
    .location-field {
        .search-button,
        .advanced-button {
            color: variables.$primary-default-dark;

            &.active {
                color: variables.$accent-default-dark;
            }
        }

        .map-lock {
            background-color: rgba(variables.$input-disabled-dark, 0.9);
        }

        .map {
            border-color: variables.$input-default-dark;
        }

        &.is-disabled {
            label {
                color: variables.$label-disabled-dark;
            }

            .search-button,
            .advanced-button {
                color: variables.$primary-disabled-dark;
            }
        }
    }
}
