.number-field {
    input[type='number'] {
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    .step-change {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-inline-start: 5px;
    }

    .up-button {
        color: var(--sui-primary-action);
        position: absolute;
        top: -7px;
    }

    .down-button {
        color: var(--sui-primary-action);
        position: absolute;
        top: 7px;
    }

    &.is-disabled {
        .up-button,
        .down-button {
            color: var(--sui-primary-action-disabled);
        }
    }
}
