@use '../core/variables';

.dark-theme {
    .number-field {
        .up-button {
            color: variables.$primary-default-dark;
        }

        .down-button {
            color: variables.$primary-default-dark;
        }

        &.is-disabled {
            .up-button,
            .down-button {
                color: variables.$primary-disabled-dark;
            }
        }
    }
}
