.dark-theme {
  .number-field {
    .up-button {
      color: $primary-default-dark;
    }

    .down-button {
      color: $primary-default-dark;
    }

    &.is-disabled {

      .up-button,
      .down-button {
        color: $primary-disabled-dark;
      }
    }
  }
}
