.radiobutton-field {
  &.input-block {
    padding-top: 0;
  }

  .field-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $label-default-light;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &.is-disabled {
    .field-label {
      color: $label-disabled-light;
    }
  }
}
