.range-field {
    .sui-slider__container {
        height: 32px;
    }

    .sui-slider {
        background-color: var(--sui-input);
        margin: 0;
        width: 100%;
    }

    .sui-slider::-webkit-slider-thumb,
    .sui-slider:active::-webkit-slider-thumb {
        background: var(--sui-primary-action);
    }

    .sui-slider::-moz-range-thumb,
    .sui-slider:active::-moz-range-thumb {
        background: var(--sui-primary-action);
    }

    .sui-slider::-ms-thumb,
    .sui-slider:active::-ms-thumb {
        background: var(--sui-primary-action);
    }

    &.is-disabled {
        .sui-slider {
            background-color: var(--sui-input-disabled);
        }

        .sui-slider::-webkit-slider-thumb,
        .sui-slider:active::-webkit-slider-thumb {
            background: var(--sui-primary-action-disabled);
        }

        .sui-slider::-moz-range-thumb,
        .sui-slider:active::-moz-range-thumb {
            background: var(--sui-primary-action-disabled);
        }

        .sui-slider::-ms-thumb,
        .sui-slider:active::-ms-thumb {
            background: var(--sui-primary-action-disabled);
        }
    }
}
