@use '../core/variables';

.range-field {
    .sui-slider__container {
        height: 32px;
    }

    .sui-slider {
        background-color: variables.$input-default-light;
        margin: 0;
        width: 100%;
    }

    .sui-slider::-webkit-slider-thumb,
    .sui-slider:active::-webkit-slider-thumb {
        background: variables.$primary-default-light;
    }

    .sui-slider::-moz-range-thumb,
    .sui-slider:active::-moz-range-thumb {
        background: variables.$primary-default-light;
    }

    .sui-slider::-ms-thumb,
    .sui-slider:active::-ms-thumb {
        background: variables.$primary-default-light;
    }

    &.is-disabled {
        .sui-slider {
            background-color: variables.$input-disabled-light;
        }

        .sui-slider::-webkit-slider-thumb,
        .sui-slider:active::-webkit-slider-thumb {
            background: variables.$primary-disabled-light;
        }

        .sui-slider::-moz-range-thumb,
        .sui-slider:active::-moz-range-thumb {
            background: variables.$primary-disabled-light;
        }

        .sui-slider::-ms-thumb,
        .sui-slider:active::-ms-thumb {
            background: variables.$primary-disabled-light;
        }
    }
}
