@use '../core/variables';

.search-field {
    &.mdl-textfield--expandable .mdl-button--icon {
        top: 20px;
    }

    .mdl-textfield__error {
        bottom: 0;
    }

    &:not(.is-focused, .is-dirty) {
        .mdl-textfield__expandable-holder {
            .mdl-textfield__input {
                border: 0;
            }
        }
    }

    .clear-button {
        display: none;
        position: absolute;
        right: 5px;
        top: 4px;
        color: variables.$primary-default-light;
    }

    .search-button {
        color: variables.$primary-default-light;
    }

    &.is-focused,
    &.is-dirty {
        .clear-button {
            display: inline-block;
        }
    }

    &.is-disabled {
        .clear-button,
        .search-button {
            color: variables.$primary-disabled-light;
        }
    }
}
