@use '../core/variables';

.dark-theme {
    .search-field {
        .clear-button {
            color: variables.$primary-default-dark;
        }

        .search-button {
            color: variables.$primary-default-dark;
        }

        &.is-disabled {
            .clear-button,
            .search-button {
                color: variables.$primary-disabled-dark;
            }
        }
    }
}
