.search-field {
    &.sui-textfield--expandable .sui-button--icon {
        top: 20px;
    }

    .sui-textfield__error {
        bottom: 0;
    }

    &:not(.is-focused, .is-dirty, .is-invalid) {
        .sui-textfield__expandable-holder {
            .sui-textfield__input:not(:required) {
                border: 0;
            }
        }
    }

    .sui-textfield__input {
        padding-inline-end: 36px;
    }

    .clear-button {
        display: none;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--sui-primary-action);
    }

    .search-button {
        color: var(--sui-primary-action);
    }

    &.is-focused,
    &.is-dirty {
        .clear-button {
            display: inline-block;
        }
    }

    &.is-disabled {
        .clear-button,
        .search-button {
            color: var(--sui-primary-action-disabled);
        }
    }
}
