@use '../core/colors';
@use '../core/variables';

.select-field {
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(359deg);
        }
    }

    .popup {
        width: 100%;
    }

    .select-container {
        position: relative;
    }

    .expander {
        color: var(--sui-primary-action);

        &.rotate {
            animation-name: rotation;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            will-change: transform;
        }
    }

    .field-label {
        margin-inline-end: 10px;
        font-size: 16px;
        position: absolute;
        top: -2px;
        color: var(--sui-label);
    }

    .select-input {
        width: 100%;
        display: inline-block;
        padding: 3px 30px 0 3px;
        border: 1px solid var(--sui-input);
        border-radius: variables.$radius-md;
        min-height: 40px;
        cursor: pointer;
    }

    .search-box {
        padding: 5px 10px;
    }

    .options-list {
        max-height: 240px;
        min-width: 100px;
        overflow-y: auto;
        scroll-behavior: smooth;
        padding: 4px;

        .icon-button {
            display: block;
            color: var(--sui-on-surface);
            text-decoration: none;
            padding: 8px 12px;
            width: 100%;
            font-size: 1em;
            text-align: start;
            border-radius: variables.$radius-sm;
            transition: background-color variables.$transition-fast ease;

            &:hover {
                background-color: var(--sui-input-disabled);
            }

            &.selected {
                background-color: var(--sui-input);
                font-weight: 500;
            }

            img {
                display: inline-block;
                max-height: 30px;
                width: auto;
                margin-inline-end: 10px;
                padding: 2px;
                border-radius: variables.$radius-sm;
            }
        }
    }

    &.is-invalid {
        .select-input {
            border-color: var(--sui-error-text);
        }
    }

    &.is-disabled {
        .field-label {
            color: var(--sui-label-disabled);
        }

        .expander {
            color: var(--sui-primary-action-disabled);
        }

        .select-input {
            border-style: dotted;
            border-color: var(--sui-input-disabled);
        }

        &.is-invalid {
            .select-input {
                border-color: var(--sui-error-text-disabled);
            }
        }
    }
}
