@use '../core/colors';
@use '../core/variables';

.dark-theme {
    .select-field {
        .expander {
            color: variables.$primary-default-dark;
        }

        .field-label {
            color: variables.$label-default-dark;
        }

        .select-input {
            border-color: variables.$input-default-dark;
        }

        .options-list {
            a {
                color: colors.$white;

                &:hover {
                    background-color: variables.$input-disabled-dark;
                }

                &.selected {
                    background-color: variables.$input-default-dark;
                }
            }
        }

        &.is-invalid {
            .select-input {
                border-color: variables.$error-default-dark;
            }
        }

        &.is-disabled {
            .field-label {
                color: variables.$label-disabled-dark;
            }

            .expander {
                color: variables.$primary-disabled-dark;
            }

            .select-input {
                border-color: variables.$input-disabled-dark;
            }

            &.is-invalid {
                .select-input {
                    border-color: variables.$error-disabled-dark;
                }
            }
        }
    }
}
