@use '../core/colors';
@use '../core/variables';

.input-block {
    .field-tag {
        position: relative;
        display: inline-block;
        padding: 1px 10px;
        margin: 0 2px 2px 0;
        background-color: variables.$input-default-light;
        color: variables.$content-default-light;
        border-radius: 3px;

        &.tag-with-action {
            padding-right: 30px;
        }

        .close {
            position: absolute;
            right: 5px;
            top: 4px;
            color: variables.$content-default-light;

            &:hover {
                color: variables.$content-default-light;
            }
        }
    }

    .active {
        .field-tag {
            background-color: variables.$accent-default-light;
            color: colors.$accent-text;
        }
    }

    &.is-disabled {
        .field-tag {
            color: variables.$content-disabled-light;
            background-color: variables.$input-disabled-light;

            .close {
                color: variables.$content-disabled-light;

                &:hover {
                    color: variables.$content-disabled-light;
                }
            }
        }
    }
}
