@use '../core/colors';
@use '../core/variables';

.input-block {
    .field-tag {
        position: relative;
        display: inline-flex;
        align-items: center;
        min-height: 32px;
        padding: 1px 10px;
        margin: 0 2px 2px 0;
        background-color: var(--sui-input);
        color: var(--sui-content);
        border-radius: variables.$radius-sm;

        &.tag-with-action {
            padding-inline-end: 30px;
        }

        .close {
            position: absolute;
            right: 5px;
            top: 7px;
            color: var(--sui-content);

            &:hover {
                color: var(--sui-content);
            }
        }
    }

    .active {
        .field-tag {
            background-color: var(--sui-accent-action);
            color: colors.$accent-text;
        }
    }

    &.is-disabled {
        .field-tag {
            color: var(--sui-content-disabled);
            background-color: var(--sui-input-disabled);

            .close {
                color: var(--sui-content-disabled);

                &:hover {
                    color: var(--sui-content-disabled);
                }
            }
        }
    }
}
