@use '../core/colors';
@use '../core/variables';

.dark-theme {
    .input-block {
        .field-tag {
            background-color: variables.$input-default-dark;
            color: variables.$content-default-dark;

            .close {
                color: variables.$content-default-dark;

                &:hover {
                    color: variables.$content-default-dark;
                }
            }
        }

        .active {
            .field-tag {
                background-color: variables.$accent-default-dark;
                color: colors.$accent-text;
            }
        }

        &.is-disabled {
            .field-tag {
                background-color: variables.$input-disabled-dark;
                color: variables.$content-disabled-dark;

                .close {
                    color: variables.$content-disabled-dark;

                    &:hover {
                        color: variables.$content-disabled-dark;
                    }
                }
            }
        }
    }
}
