.textarea-field {
    .mdl-textarea__input {
        resize: none;
        min-height: 150px;
    }

    .textbox {
        display: inline-block;

        p {
            margin: 0 0 1em;
        }

        strong,
        b {
            font-weight: 700;
        }

        em,
        i {
            font-style: italic;
        }

        u {
            text-decoration: underline;
        }

        ul {
            list-style: disc outside;
            margin-bottom: 1em;

            li {
                margin-left: 2em;
            }
        }

        ol {
            list-style: lower-latin outside;
            margin-bottom: 1em;

            li {
                margin-left: 2em;
            }
        }
    }

    .toolbar {
        a {
            font-size: 20px;
            margin: 0 10px 2px 0;
        }
    }

    &.is-disabled {
        .toolbar {
            a {
                color: $label-disabled-light !important;
            }
        }
    }
}
