@use '../core/variables';

.url-field {
    // &.is-focused {
    //   .protocol {
    //     display: block;
    //   }
    // }

    .protocol {
        top: 20px;
        width: 60px;
        text-align: center;
        display: none;
        position: absolute;
        background-color: var(--sui-input);
        border-radius: variables.$radius-md;
    }
}
