.mdl-checkbox {
  height: auto;

  .mdl-checkbox__box-outline {
    border-color: $content-default-light;
  }

  input[required]~.mdl-checkbox__box-outline {
    border-color: $error-default-light;
  }

  &.is-checked {
    .mdl-checkbox__box-outline {
      border-color: $primary-default-light;
    }

    .mdl-checkbox__tick-outline {
      background-color: $primary-default-light;
    }

    input[required]~.mdl-checkbox__box-outline {
      border-color: $primary-default-light;
    }
  }

  &.is-disabled {
    .mdl-checkbox__box-outline {
      border-color: $content-disabled-light;
    }

    input[required]~.mdl-checkbox__box-outline {
      border-color: $error-disabled-light;
      border-style: dotted;
    }
  }

  &.is-disabled {
    &.is-checked {
      .mdl-checkbox__box-outline  {
        border-color: $primary-disabled-light;
      }

      .mdl-checkbox__tick-outline {
        background-color: $primary-disabled-light;
      }
    }
  }
}