.mdl-textfield__error {
  display: block;
  color: $error-default-light;

  &::first-letter {
    text-transform: capitalize;
  }

  .is-disabled {
    .mdl-textfield__error {
      color: $error-disabled-light;
    }
  }
}
