.dark-theme {
  .mdl-icon-toggle {

    .mdl-icon-toggle__label {
      color: $input-default-dark;
    }

    input[required]~.mdl-icon-toggle__label {
      border-color: $error-default-dark;
    }

    &.is-checked {
      input[required]~.mdl-icon-toggle__label {
        border-color: transparent;
      }

      .mdl-icon-toggle__label {
        color: $primary-default-dark;
      }
    }

    &.is-disabled {
      input[required]~.mdl-icon-toggle__label {
        border-style: dotted;
        border-color: $error-disabled-dark;
      }

      .mdl-icon-toggle__label {
        color: $content-disabled-dark;
      }

      &.is-checked {
        .mdl-icon-toggle__label {
          color: $primary-disabled-dark;
        }
      }
    }
  }
}
