.mdl-textfield__label {
  font-size: 16px;
  color: $label-default-light;
  top: -4px;
  display: block;
  text-overflow: ellipsis;

  &::first-letter {
    text-transform: capitalize;
  }

  &::after {
    background-color: $primary-default-light;
  }
}

.mdl-textfield {
  &.is-invalid,
  &.is-dirty,
  &.is-focused,
  &.has-placeholder {
    .mdl-textfield__label {
      font-size: 16px;
      color: $label-default-light;
    }
  }

  &.is-dirty,
  &.is-focused,
  &.has-placeholder {
    .mdl-textfield__label {
      top: -4px;
    }
  }

  &.is-disabled {
    .mdl-textfield__label {
      color: $label-disabled-light !important;
    }
  }

  &.is-invalid {
    .mdl-textfield__label {
      &::after {
        background-color: $error-default-light;
      }
    }
  }
}

.mdl-icon__label,
.mdl-switch__label,
.mdl-checkbox__label,
.mdl-radio__label {
  display: inline-block;
  font-size: 16px;
  color: $label-default-light;

  &::first-letter {
    text-transform: capitalize;
  }
}

.mdl-icon-toggle__label {
  &.material-icons {
    line-height: normal;
  }

  &::selection {
    background: none;
  }
}

.mdl-icon__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  left: 5px;
}

label {
  &.is-disabled {
    .mdl-icon__label,
    .mdl-switch__label,
    .mdl-checkbox__label,
    .mdl-radio__label {
      color: $label-disabled-light !important;
    }
  }
}
