.dark-theme {
  .mdl-textfield {

    .mdl-textfield__input {
      color: $content-default-dark;
      border: 1px solid $input-default-dark;
    }

    &.is-disabled {

      .mdl-textfield__input {
        color: $content-disabled-dark;
        border-style: dotted;
        border-color: $input-disabled-dark;
      }
    }

    &.is-invalid {
      .mdl-textfield__input {
        border-color: $error-default-dark;
      }
    }

    &.is-disabled {
      &.is-invalid {
        .mdl-textfield__input {
          border-color: $error-disabled-dark;
        }
      }
    }
  }
}