
.mdl-textfield {
  width: 100%;
  font-size: inherit;

  .mdl-textfield__input {
    font-size: inherit;
    padding: 8px 10px 4px;
    border: 1px solid $input-default-light;
    border-radius: 3px;
    color: $content-default-light;
  }

  &.is-disabled {
    .mdl-textfield__input {
      color: $content-disabled-light;
      border: 1px dotted $input-disabled-light;
    }
  }

  &.is-invalid {
    .mdl-textfield__input {
      border-color: $error-default-light;
    }
  }

  &.is-disabled {
    &.is-invalid {
      .mdl-textfield__input {
        border-color: $error-disabled-light;
      }
    }
  }
}

.mdl-textfield--expandable .mdl-button--icon {
  top: 20px;
}


