.color-widget {

  .preview {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    @include border-radius(50%);
    border: 1px solid $grey-bright;

    &:focus {
      outline: none;
    }
  }

  input[required] ~ .preview {
    border-color: $red;
  }

  canvas {
    vertical-align: middle;
  }

  .widget-label {
    color: $label-default-light;
  }

  &.is-disabled {

    .widget-label {
      color: $label-disabled-light;
    }

    .preview {
      opacity: .3;
      border: 1px dotted $light-grey;
    }
  }

}
