.dark-theme {
  .color-widget {

    .preview {
      border: 1px solid $grey-bright;
    }

    .widget-label {
      color: $label-default-dark;
    }

    &.is-disabled {

      .widget-label {
        color: $label-disabled-dark;
      }

      .preview {
        opacity: .3;
        border-color: $light-grey;
      }
    }
  }
}