.dark-theme {
  .color-widget {

    .preview {
      border: 1px solid $input-default-dark;
    }

    /*input[required] ~ .preview {
      border-color: $error-default-dark;
    }*/

    .widget-label {
      color: $label-default-dark;
    }

    &.is-disabled {

      .widget-label {
        color: $label-disabled-dark;
      }

      .preview {
        border-color: $input-disabled-dark;
      }

      /*input[required] ~ .preview {
        border-color: $error-disabled-dark;
      }*/
    }
  }
}