.color-widget {

  .preview {
    margin-left: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    @include border-radius(50%);
    border: 1px solid $grey-bright;

    &:focus {
      outline: none;
    }
  }

  canvas {
    vertical-align: middle;
  }

  &.is-disabled {
    cursor: not-allowed;

    label {
      color: $light-grey-dark;
    }

    .preview {
      opacity: .3;
      border: 1px dotted $light-grey;
    }
  }

}
