.datetime-range-widget {

  .mdl-textfield__error {
    &:last-of-type {
      width: 100%;
      text-align: right;
    }
  }

  &.is-invalid {
    .mdl-textfield__error {
      visibility: visible;
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    label {
      color: $light-grey-dark;
    }

    .expander {
      color: $grey;
      cursor: default;
    }

    .datetime-input {
      border-style: dotted;
      cursor: default;

      .tag {
        color: $grey;
      }
    }
  }

  >.material-icons {
    vertical-align: middle;
    cursor: pointer;
    margin-left: -30px;
    color: $primary;
  }

  label {
    margin-right: 10px;
  }

  .datetime-input {
    display: inline-block;
    padding: 2px 30px 2px 2px;
    border: 1px solid $light-grey;
    @include border-radius(2px);
    min-height: 28px;
    vertical-align: middle;
    cursor: pointer;

    &.active {
      .tag {
        background-color: $accent;
      }
    }

    &:first-of-type {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:nth-of-type(1n) {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .tag {
      position: relative;
      display: inline-block;
      padding: 1px 30px 1px 10px;
      margin: 0 5px 0 0;
      background-color: $grey-bright;
      @include border-radius(2px);

      .material-icons {
        position: absolute;
        right: 5px;
        top: 4px;
      }
    }
  }

  .datetime {
    @include display-flex;
    align-items: center;
  }
}
