.datetime-range-widget {

  .mdl-textfield__error {
    &:last-of-type {
      width: 100%;
      text-align: right;
    }
  }

  .expander {
    vertical-align: middle;
    cursor: pointer;
    margin-left: -30px;
    color: $primary-default-light;
  }

  .widget-label {
    margin-right: 10px;
    font-size: 16px;
    position: absolute;
    top: -2px;
    color: $label-default-light;
  }

  .datetime-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .datetime-input {
    flex: 1 0 50%;
    display: inline-block;
    padding: 2px 30px 0 2px;
    border: 1px solid $input-default-light;
    border-radius: 3px;
    min-height: 32px;
    cursor: pointer;

    &:nth-of-type(2n) {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:nth-of-type(odd) {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .datetime {
    display: flex;
    align-items: center;
  }

  &.is-disabled {
    .widget-label {
      color: $label-disabled-light;
    }

    .expander {
      color: $primary-disabled-light;
    }

    .datetime-input {
      border-style: dotted;
      border-color: $input-disabled-light;
    }
  }
}
