.datetime-widget {

  .expander {
    vertical-align: middle;
    cursor: pointer;
    margin-left: -30px;
    color: $primary-default-light;
  }

  .widget-label {
    margin-right: 10px;
    font-size: 16px;
    position: absolute;
    top: -2px;
    color: $label-default-light;
  }

  .datetime-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .datetime-input {
    flex: 1 0 100%;
    display: inline-block;
    padding: 2px 30px 0 2px;
    border: 1px solid $input-default-light;
    border-radius: 3px;
    min-height: 32px;
    cursor: pointer;

    .tag {
      position: relative;
      display: inline-block;
      padding: 1px 10px;
      margin: 0 2px 2px 0;
      background-color: $input-default-light;
      color: $content-default-light;
      border-radius: 3px;
      white-space: nowrap;

      &.tag-with-action {
        padding-right: 30px;
      }

      .close {
        position: absolute;
        right: 5px;
        top: 4px;
        color: $primary-default-light;

        &:hover {
          color: $primary-default-light;
        }
      }
    }

    &.active {
      .tag {
        background-color: $accent-default-light;
        color: $accent-text;
      }
    }
  }

  .datetime {
    display: flex;
    align-items: center;
  }

  &.is-disabled {

    .widget-label {
      color: $label-disabled-light;
    }

    .expander {
      color: $primary-disabled-light;
    }

    .datetime-input {
      border-style: dotted;
      border-color: $input-disabled-light;

      .tag {
        color: $content-disabled-light;
        background-color: $input-disabled-light;

        .close {
          color: $primary-disabled-light;

          &:hover {
            color: $primary-disabled-light;
          }
        }
      }
    }
  }
}
