.datetime-widget {

  >.material-icons {
    vertical-align: middle;
    cursor: pointer;
    margin-left: -30px;
    color: $primary;
  }

  .widget-label {
    margin-right: 10px;
    color: $label-default-light;
  }

  .datetime-input {
    display: inline-block;
    padding: 2px 30px 2px 2px;
    border: 1px solid $grey-bright;
    @include border-radius(2px);
    min-height: 28px;
    vertical-align: middle;
    cursor: pointer;

    &.active {
      .tag {
        background-color: $accent;
      }
    }

    .tag {
      position: relative;
      display: inline-block;
      padding: 1px 30px 1px 10px;
      margin: 0 5px 0 0;
      background-color: $grey-bright;
      @include border-radius(2px);

      .material-icons {
        position: absolute;
        right: 5px;
        top: 4px;
      }

    }

  }

  .datetime {
    @include display-flex;
    align-items: center;
  }

  &.is-invalid {
    .mdl-textfield__error {
      visibility: visible;
    }
  }

  &.is-disabled {
    

    .widget-label {
      color: $label-disabled-light;
    }

    .expander {
      color: $grey;
      cursor: default;
    }

    .datetime-input {
      border-style: dotted;
      cursor: default;

      .tag {
        color: $grey;
      }
    }
  }

}
