.datetime-range-widget {

  .mdl-textfield__error {
    &:last-of-type {
      width: 100%;
      text-align: right;
    }
  }

  .expander {
    vertical-align: middle;
    cursor: pointer;
    margin-left: -30px;
    color: $primary-default-light;
  }

  .widget-label {
    margin-right: 10px;
    color: $label-default-light;
  }

  .datetime-input {
    display: inline-block;
    padding: 2px 30px 2px 2px;
    border: 1px solid $input-default-light;
    @include border-radius(2px);
    min-height: 28px;
    vertical-align: middle;
    cursor: pointer;

    &:nth-of-type(1n) {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:first-of-type {
      border-left: 1px solid $input-default-light;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .tag {
      position: relative;
      display: inline-block;
      padding: 1px 30px 1px 10px;
      margin: 0 5px 0 0;
      background-color: $input-default-light;
      color: $content-default-light;
      @include border-radius(2px);

      .material-icons {
        position: absolute;
        right: 5px;
        top: 4px;
      }
    }

    &.active {
      .tag {
        background-color: $accent-default-light;
        color: $accent-text;
      }
    }
  }

  .datetime {
    @include display-flex;
    align-items: center;
  }

  &.is-disabled {
    .widget-label {
      color: $label-disabled-light;
    }

    .expander {
      color: $primary-disabled-light;
    }

    .datetime-input {
      border-style: dotted;
      border-color: $input-disabled-light;

      .tag {
        background-color: $input-disabled-light;
        color: $content-disabled-light;
      }
    }
  }
}
