.dark-theme {
  .datetime-widget {

    >.material-icons {
      color: $primary;
    }

    .widget-label {
      color: $label-default-dark;
    }

    .datetime-input {
      border: 1px solid $grey-bright;
      

      &.active {
        .tag {
          background-color: $accent;
        }
      }

      .tag {
        background-color: $grey-bright;
        

      }

    }

    

    &.is-invalid {
      .mdl-textfield__error {
        
      }
    }

    &.is-disabled {
      
      .widget-label {
        color: $label-disabled-dark;
      }

      .expander {
        color: $grey;
      }

      .datetime-input {
        
        .tag {
          color: $grey;
        }
      }
    }

  }
}