.dark-theme {
  .datetime-widget {

    .expander {
      color: $primary-default-dark;
    }

    .widget-label {
      color: $label-default-dark;
    }

    .datetime-input {
      border-color: $input-default-dark;

      .tag {
        background-color: $input-default-dark;
        color: $content-default-dark;
      }

      &.active {
        .tag {
          background-color: $accent-default-dark;
        }
      }

    }

    &.is-disabled {

      .widget-label {
        color: $label-disabled-dark;
      }

      .expander {
        color: $primary-disabled-dark;
      }

      .datetime-input {
        border-color: $input-disabled-dark;

        .tag {
          background-color: $input-disabled-dark;
          color: $content-disabled-dark;
        }
      }
    }
  }
}