.file-widget {
  position: relative;

  input[type='file'] {
    &.mdl-textfield__input {
      &::-webkit-file-upload-button {
        opacity: 0;
        width: 0;
        padding: 0;
        margin: 0;
        border: 0;
        color: $content-default-light;
      }
    }
  }

  img {
    height: 100px;
    width: auto;
    margin-bottom: 5px;
  }

  .action-container {
    top: 130px !important;
  }

  .browse-button {
    margin-left: 2px;
  }

  .remove-button {
    position: absolute;
    top: 17px;
    left: 70px;
    bottom: auto;
    width: 30px;
    height: 30px;
    min-width: 30px;
  }

  &.is-disabled {
    img {
      filter: grayscale(100%);
      opacity: .5;
    }

    .browse-button {
      color: $primary-disabled-light;
    }
  }
}
