.radiobutton-widget {
  position: relative;

  &.is-invalid {
    .mdl-textfield__error {
      visibility: visible;
    }
  }

  .info {
    position: absolute;
    right: 5px;
    top: 22px;
    z-index: 1;
  }

  .widget-label {
    position: absolute;
    top: -22px;
    left: 0;
    display: inline-block;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: $label-default-light;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .is-disabled {
    .widget-label {
      color: $label-disabled-light;
    }
  }
}
