.radiobutton-widget {
    position: relative;
    &.is-invalid {
        .mdl-textfield__error {
            visibility: visible;
        }
    }
    .mdl-textfield__error {
        margin-top: 5px;
        margin-left: 10px;
    }
    .info {
        position: absolute;
        right: 0;
        top: 22px;
    }
}