.range-widget {

  .mdl-textfield__label {
    font-size: 16px;
    visibility: visible !important;
  }

  .mdl-sliderfield {
    //@include display-flex;
  
    /*.mdl-textfield__label {
      color: inherit;
      position: initial;
      width: auto;
    }*/
  }

  .mdl-slider__container {
    //@include flex(1 0 auto);
    height: 32px;
  }

  .mdl-slider {
    background-color: $grey;
    margin: 0;
  }

  &.is-disabled {
    
  }
}
