.range-widget {

  .mdl-textfield__label {
    font-size: 16px;
    visibility: visible !important;
  }

  &.is-disabled {
    cursor: not-allowed;

    label {
      color: $light-grey-dark;
    }
  }
}
