.dark-theme {
  .search-widget {

    .clear-button {
      color: $primary-default-dark;
    }

    .search-button {
      color: $primary-default-dark;
    }

    &.is-disabled {
      .clear-button,
      .search-button {
        color: $primary-disabled-dark;
      }
    }
  }
}
