.search-widget {
  input[type='search'] {
    &::-ms-clear,
    &::-ms-reveal,
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
      width: 0; 
      height: 0;
      -webkit-appearance: none;
    }
  }

  .clear-button {
    display: none;
    position: absolute;
    right: 5px;
    top: 4px;
    color: $primary;
  }

  &.is-focused,
  &.is-dirty {
    .clear-button {
      display: inline-block;
    }
  }

  .mdl-button--icon {
    color: $primary;
  }
}
