.search-widget {
  .clear-button {
    display: none;
    position: absolute;
    right: 5px;
    top: 4px;
    color: $primary;
  }

  &.is-focused,
  &.is-dirty {
    .clear-button {
      display: inline-block;
    }
  }

  .mdl-button--icon {
    color: $primary;
  }
}
