.select-widget {
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(359deg);
    }
  }

  .popup {
    width: 100%;
  }

  .select-container {
    position: relative;
  }

  .expander {
    color: $primary-default-light;

    &.rotate {
      animation-name: rotation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  .widget-label {
    margin-right: 10px;
    font-size: 16px;
    position: absolute;
    top: -2px;
    color: $label-default-light;
  }

  .select-input {
    width: 100%;
    display: inline-block;
    padding: 2px 30px 0 2px;
    border: 1px solid $input-default-light;
    @include border-radius(2px);
    min-height: 32px;
    cursor: pointer;

    .tag {
      position: relative;
      display: inline-block;
      padding: 1px 10px;
      margin: 0 2px 2px 0;
      background-color: $input-default-light;
      color: $content-default-light;
      @include border-radius(2px);
      white-space: nowrap;

      &.tag-with-action {
        padding-right: 30px;
      }

      .material-icons {
        position: absolute;
        right: 5px;
        top: 4px;
      }
    }
  }

  .search-box {
    padding: 5px 10px;
    margin: -20px 0 -15px;
  }

  .options-list {
    max-height: 180px;
    min-width: 150px;
    overflow-y: auto;

    a {
      display: block;
      color: $black;
      text-decoration: none;
      padding: 3px 8px;

      &:hover {
        background-color: $input-disabled-light;
      }

      &.selected {
        background-color: $input-default-light;
      }

      img {
        display: inline-block;
        max-height: 30px;
        width: auto;
        margin-right: 10px;
        padding: 2px;
      }
    }
  }

  &.is-invalid {
    .select-input {
      border-color: $error-default-light;
    }
  }

  &.is-disabled {
    .widget-label {
      color: $label-disabled-light;
    }

    .expander {
      color: $primary-disabled-light;
    }

    .select-input {
      border-style: dotted;
      border-color: $input-disabled-light;

      .tag {
        background-color: $input-disabled-light;
        color: $content-disabled-light;
      }
    }

    &.is-invalid {
      .select-input {
        border-color: $error-disabled-light;
      }
    }
  }
}
