.dark-theme {
  .input-block {
    .widget-tag {
      background-color: $input-default-dark;
      color: $content-default-dark;

      .close {
        color: $primary-default-dark;

        &:hover {
          color: $primary-default-dark;
        }
      }
    }

    .active {
      .widget-tag {
        background-color: $accent-default-dark;
        color: $accent-text;
      }
    }

    &.is-disabled {
      .widget-tag {
        background-color: $input-disabled-dark;
        color: $content-disabled-dark;

        .close {
          color: $primary-disabled-dark;

          &:hover {
            color: $primary-disabled-dark;
          }
        }
      }
    }
  }
}
