.input-block {
  .widget-tag {
    position: relative;
    display: inline-block;
    padding: 1px 10px;
    margin: 0 2px 2px 0;
    background-color: $input-default-light;
    color: $content-default-light;
    border-radius: 3px;

    &.tag-with-action {
      padding-right: 30px;
    }

    .close {
      position: absolute;
      right: 5px;
      top: 4px;
      color: $content-default-light;

      &:hover {
        color: $content-default-light;
      }
    }
  }

  .active {
    .widget-tag {
      background-color: $accent-default-light;
      color: $accent-text;
    }
  }

  &.is-disabled {
    .widget-tag {
      color: $content-disabled-light;
      background-color: $input-disabled-light;

      .close {
        color: $content-disabled-light;

        &:hover {
          color: $content-disabled-light;
        }
      }
    }
  }
}
