.url-widget {

  // &.is-focused {
  //   .protocol {
  //     display: block;
  //   }
  // }

  .protocol {
    top: 20px;
    width: 60px;
    text-align: center;
    display: none;
    position: absolute;
    background-color: $input-default-light;
    @include border-radius(2px);
  }
}
