.range-widget {
  .mdl-slider__container {
    height: 32px;
  }

  .mdl-slider {
    background-color: $input-default-light;
    margin: 0;
    width: 100%;
  }

  // sass-lint:disable-all
  .mdl-slider::-webkit-slider-thumb,
  .mdl-slider:active::-webkit-slider-thumb {
    background: $primary-default-light;
  }

  .mdl-slider::-moz-range-thumb,
  .mdl-slider:active::-moz-range-thumb {
    background: $primary-default-light;
  }

  .mdl-slider::-ms-thumb,
  .mdl-slider:active::-ms-thumb {
    background: $primary-default-light;
  }

  &.is-disabled {
    .mdl-slider {
      background-color: $input-disabled-light;
    }

    .mdl-slider::-webkit-slider-thumb,
    .mdl-slider:active::-webkit-slider-thumb {
      background: $primary-disabled-light;
    }

    .mdl-slider::-moz-range-thumb,
    .mdl-slider:active::-moz-range-thumb {
      background: $primary-disabled-light;
    }

    .mdl-slider::-ms-thumb,
    .mdl-slider:active::-ms-thumb {
      background: $primary-disabled-light;
    }
  }
}
