.dark-theme {
  .select-widget {

    .expander {
      color: $primary-default-dark;
    }

    .widget-label {
      color: $label-default-dark;
    }

    .select-input {
      border-color: $input-default-dark;
    }

    .options-list {
      a {
        color: $white;

        &:hover {
          background-color: $input-disabled-dark;
        }

        &.selected {
          background-color: $input-default-dark;
        }
      }
    }

    &.is-invalid {
      .select-input {
        border-color: $error-default-dark;
      }
    }

    &.is-disabled {
      .widget-label {
        color: $label-disabled-dark;
      }

      .expander {
        color: $primary-disabled-dark;
      }

      .select-input {
        border-color: $input-disabled-dark;
      }

      &.is-invalid {
        .select-input {
          border-color: $error-disabled-dark;
        }
      }
    }
  }
}
