@use '../core/colors';

.dark-theme {
    .calendar {
        background-color: colors.$deep-grey;

        .header {
            background-color: colors.$primary-dark;
            color: colors.$white;
        }

        .content {
            .week-days {
                background-color: colors.$black;
            }

            .days {
                background-color: colors.$black;

                .day {
                    &:hover {
                        border-color: colors.$accent;
                    }

                    &.now {
                        background-color: colors.$deep-grey;
                    }

                    &.previous-month {
                        color: colors.$deep-grey-bright;

                        &.now {
                            color: colors.$white;
                        }

                        &.current {
                            color: colors.$white;
                        }
                    }

                    &.current-month {
                        color: colors.$white;
                    }

                    &.next-month {
                        color: colors.$deep-grey-bright;

                        &.now {
                            color: colors.$white;
                        }

                        &.current {
                            color: colors.$white;
                        }
                    }

                    &.current {
                        background-color: colors.$accent;
                        color: colors.$accent-text;
                    }
                }
            }

            .months {
                background-color: colors.$black;

                .month {
                    &:hover {
                        border-color: colors.$accent;
                    }

                    &.now {
                        background-color: colors.$deep-grey;
                    }

                    &.current {
                        background-color: colors.$accent;
                    }
                }
            }

            .years {
                background-color: colors.$black;

                .year {
                    &:hover {
                        border-color: colors.$accent;
                    }

                    &.now {
                        background-color: colors.$deep-grey;
                    }

                    &.current {
                        background-color: colors.$accent;
                    }
                }
            }
        }
    }
}
