@use '../core/colors';

.dark-theme {
    .card-collection {
        .card {
            background-color: colors.$black;
            border-color: colors.$black-bright;
            box-shadow: 0 0 5px 0 rgba(colors.$black, 0.2);

            &:hover {
                box-shadow: 0 0 5px 0 rgba(colors.$black, 0.3);
                background-color: colors.$black-bright;

                .title,
                .title-with-actions {
                    border-bottom-color: colors.$deep-grey-dark;
                }
            }

            .title,
            .title-with-actions {
                color: colors.$white;
                border-bottom-color: colors.$black-bright;
            }

            .header {
                background-color: colors.$black;
                color: colors.$white;

                .title {
                    color: colors.$white;
                    background-color: rgba(colors.$black, 0.7);
                    border-bottom-color: colors.$accent-bright;
                }
            }

            .content {
                color: colors.$white;

                .info {
                    color: colors.$primary-bright;

                    em {
                        color: colors.$deep-grey-bright;
                    }
                }
            }

            .footer {
                .caption {
                    color: colors.$black-bright;
                }
            }
        }
    }
}
