.clock {
    background-color: var(--sui-outline-variant);
    height: 290px;
    width: 250px;

    .header {
        height: 50px;
        background-color: var(--sui-primary-dark);
        color: var(--sui-on-surface-variant);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding: 10px 0;

        .hours {
            cursor: pointer;

            &.active {
                color: var(--sui-primary-text);
            }
        }

        .separator {
            padding: 0 5px;
        }

        .minutes {
            cursor: pointer;

            &.active {
                color: var(--sui-primary-text);
            }
        }

        .period {
            cursor: pointer;
            padding-inline-start: 5px;
            font-size: 0.5em;
            line-height: 1.3em;
            text-transform: uppercase;

            &.pm {
                align-self: flex-start;
            }

            &.am {
                align-self: flex-end;
            }
        }
    }

    .content {
        .time {
            position: relative;
            left: 25px;
            top: 15px;
            width: 200px;
            height: 200px;
        }
    }
}
