@use '../core/colors';

.dark-theme {
    .clock {
        background-color: colors.$deep-grey;

        .header {
            background-color: colors.$primary-dark;
            color: colors.$deep-grey-bright;

            .hours {
                &.active {
                    color: colors.$primary-text;
                }
            }

            .minutes {
                &.active {
                    color: colors.$primary-text;
                }
            }
        }
    }
}
