.content-handler {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5em 1em;
  flex-flow: column nowrap;

  img {
    display: block;
    max-width: 175px;
    height: auto;
    margin-bottom: .5em;
  }

  p {
    color: $deep-grey-bright;
  }
}
