@use '../core/variables';

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
    display: none;
}

form {
    .input-block {
        position: relative;
        padding: 22px 0;
        font-size: 16px;

        &.is-disabled {
            * {
                cursor: not-allowed;
            }

            .info-button {
                cursor: pointer;
            }

            .action-container {
                a,
                button,
                .material-icons {
                    color: variables.$label-disabled-light;
                    pointer-events: none;
                }
            }
        }

        .info-container {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            z-index: 1;

            > .info-button {
                margin-inline-start: 5px;
                font-size: 20px;
            }
        }

        .action-container {
            position: absolute;
            right: 5px;
            top: 30px;
            display: flex;
            z-index: 1;

            > a,
            > button {
                margin-inline-start: 5px;
            }
        }
    }

    .text-block {
        padding: 22px 10px 22px 0;
        font-size: 16px;
    }

    .action-block {
        margin-bottom: 1em;

        button[type='submit'],
        button[type='button'],
        button[type='reset'] {
            margin: 0 0 0.5em 1em;
        }
    }

    .dark-theme & .input-block.is-disabled {
        .action-container {
            a,
            button,
            .material-icons {
                color: variables.$label-disabled-dark;
            }
        }
    }

    input {
        &:-webkit-autofill {
            transition:
                background-color 5000s ease-in-out,
                color 5000s ease-in-out;

            &:hover,
            &:focus,
            &:active {
                transition:
                    background-color 5000s ease-in-out,
                    color 5000s ease-in-out;
            }
        }
    }
}
