@use '../core/colors';

.dark-theme {
    .page-content {
        &.fullscreen {
            display: flex;
            background-color: colors.$black-bright;
            color: colors.$white;

            &.light {
                background-color: colors.$black;
                color: inherit;
            }
        }
    }

    .page-header {
        background-color: colors.$black;
        color: colors.$white;

        h1 {
            a,
            span {
                &::after {
                    color: colors.$deep-grey-bright;
                }
            }
        }
    }
}
