@use '../core/colors';
@use '../core/variables';

.popup-parent {
    position: relative;

    .popup {
        position: absolute;
        background-color: colors.$white;
        z-index: variables.$zindex-popup;
        box-shadow: 2px 2px 10px 0 rgba(colors.$black, 0.75);
        border-radius: 3px;
        overflow: hidden;
    }
}
