@use '../core/variables';

.popup-parent {
    position: relative;

    .popup {
        position: absolute;
        background-color: var(--sui-surface);
        z-index: variables.$zindex-popup;
        box-shadow: var(--sui-shadow-lg);
        border-radius: variables.$radius-md;
        overflow: hidden;
    }
}
