.progress-status {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;

    &.success {
        color: $success;
    }

    &.info {
        color: $info;
    }

    &.warning {
        color: $warning;
    }

    &.error {
        color: $error;
    }

    em {
        font-size: 10em;
    }
}
