@use '../core/variables';

.progress-status {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;

    &.success {
        color: variables.$success;
    }

    &.info {
        color: variables.$info;
    }

    &.warning {
        color: variables.$warning;
    }

    &.error {
        color: variables.$error;
    }

    em {
        font-size: 10em;
    }
}
