@use '../core/colors';

.tab-panel {
    display: flex;
    flex-flow: column nowrap;

    .tabs {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        a {
            flex: 0 1 100%;
            display: flex;
            border-bottom: 4px solid colors.$light-grey;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: colors.$light-grey;
            padding: 5px 10px 1px;
            text-decoration: none;
            color: colors.$black;
            text-transform: uppercase;

            &:hover {
                color: colors.$primary-dark;
            }

            &.active {
                border-bottom-color: colors.$accent;
                color: colors.$primary-dark;
                z-index: 1;
                font-weight: 500;
            }

            &:not(.active) {
                border-bottom-color: colors.$light-grey;
            }

            &.disabled {
                color: colors.$light-grey;
            }
        }
    }

    .panel {
        display: none;

        &.active {
            display: block;
        }
    }
}
