@use '../core/colors';

.dark-theme {
    .tab-panel {
        .tabs {
            a {
                background-color: colors.$black;
                color: colors.$light-grey-bright;

                &:hover {
                    color: colors.$primary-bright;
                }

                &.active {
                    border-bottom-color: colors.$accent-bright;
                    color: colors.$primary-bright;
                }

                &:not(.active) {
                    border-bottom-color: colors.$black;
                }

                &.disabled {
                    color: colors.$deep-grey;
                }
            }
        }
    }
}
