.tab-panel {
    display: flex;
    flex-flow: column nowrap;

    .tabs {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: stretch;

        a {
            flex: 0 1 100%;
            display: flex;
            border-bottom: 4px solid $light-grey-dark;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $light-grey;
            padding: 5px 10px 1px;
            text-decoration: none;
            color: $deep-grey-bright;
            text-transform: uppercase;

            &:hover {
                color: $primary-dark;
            }

            &.active {
                border-bottom-color: $accent;
                color: $primary-dark;
                z-index: 1;
                font-weight: 500;
            }

            &:not(.active) {
                border-bottom-color: $light-grey-bright;
            }

            &.disabled {
                color: $light-grey;
            }
        }
    }

    .panel {
        display: none;

        &.active {
            display: block;
        }
    }
}
