.tab-panel {
    display: flex;
    flex-flow: column nowrap;

    .tabs {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        a {
            flex: 0 1 100%;
            display: flex;
            border-bottom: 2px solid var(--sui-outline-variant);
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: var(--sui-surface);
            padding: 10px 16px;
            text-decoration: none;
            color: var(--sui-on-surface);
            font-weight: 500;

            &:hover {
                color: var(--sui-primary);
            }

            &.active {
                border-bottom-color: var(--sui-accent);
                color: var(--sui-primary);
                z-index: 1;
                font-weight: 500;
            }

            &:not(.active) {
                border-bottom-color: var(--sui-surface);
            }

            &.disabled {
                color: var(--sui-outline-variant);
            }
        }
    }

    .panel {
        display: none;

        &.active {
            display: block;
        }
    }
}
