.dark-theme {
    .tab-panel {
        .tabs {
            a {
                border-bottom-color: $black-bright;
                background-color: $black-bright;
                color: $deep-grey-bright;

                &:hover {
                    color: $primary-bright;
                }

                &.active {
                    border-bottom-color: $accent-bright;
                    color: $primary-bright;
                }

                &:not(.active) {
                    border-bottom-color: $black;
                }

                &.disabled {
                    color: $deep-grey;
                }
            }
        }
    }
}
