@use '../core/colors';
@use '../mixins/breakpoints';

.dark-theme {
    table {
        thead {
            tr {
                border-bottom-color: colors.$deep-grey-bright;

                th {
                    .icons {
                        color: colors.$deep-grey-bright;

                        em {
                            &.active {
                                color: colors.$white;
                            }
                        }
                    }

                    .info {
                        color: colors.$primary-bright;
                    }
                }
            }
        }

        tbody {
            @include breakpoints.media-breakpoint-down(sm) {
                border-color: colors.$deep-grey;
            }

            tr {
                border-top-color: colors.$deep-grey;

                &:nth-child(4n + 0) {
                    background-color: colors.$black;
                }

                &.header {
                    &:hover {
                        background-color: colors.$deep-grey;
                    }

                    &.active {
                        background-color: colors.$deep-grey;
                    }
                }

                &.data {
                    @include breakpoints.media-breakpoint-down(sm) {
                        background-color: colors.$deep-grey-dark;

                        &.open {
                            td {
                                border-bottom-color: colors.$light-grey;
                            }
                        }
                    }

                    .label {
                        span {
                            color: colors.$deep-grey-bright;

                            em {
                                &.active {
                                    color: colors.$white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
