@use '../core/colors';

.time {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: colors.$white;
    border-radius: 50%;

    .center-point {
        position: absolute;
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: colors.$accent;
    }

    .pointer {
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 1px);
        width: calc(50% - 35px / 2);
        height: 2px;
        background-color: colors.$accent;
        transform-origin: 1px 1px;
    }

    .circle {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.selected {
            background-color: colors.$accent;
            color: colors.$accent-text;
        }

        &:hover {
            border: 1px solid colors.$accent;
        }
    }
}
