@use '../core/colors';

.dark-theme {
    .time {
        background-color: colors.$black;

        .center-point {
            background-color: colors.$accent;
        }

        .pointer {
            background-color: colors.$accent;
        }

        .circle {
            &.selected {
                background-color: colors.$accent;
                color: colors.$accent-text;
            }

            &:hover {
                border-color: colors.$accent;
            }
        }
    }
}
